{{!-- {{#bp-layout local-class="login"}}
	<div local-class="input left" class="p-4">
		<div local-class="area">
			<h2 local-class="title" class="mb-2">{{t "login.title"}}</h2>
			<p local-class="desc">{{t "login.desc"}}</p>
			{{common/html-container content=model.page}}
		</div>
	</div>
	<div local-class="img">
	</div>
{{/bp-layout}} --}}
{{#bp-layout direction="col" main="center" cross="center" local-class="login"}}
	{{#bp-layout direction="row" main="center" cross="center" local-class="login-content"}}
		{{#bp-layout direction="col" main="center" cross="start" local-class="content-left"}}
			<h2 local-class="title" class="">优时比销售管理沙盘模拟系统</h2>
			{{!-- <p local-class="desc" class="mb-3">{{t "login.desc"}}</p> --}}
			{{common/html-container content=model.page}}
			{{#bp-layout direction="row" main="between" local-class="login-options" classNames="mt-3"}}
				<p local-class="forget-pwd">忘记密码?</p>
				{{#bp-layout direction="row" main="start" cross="center" local-class="offcial-web" click=(action "toOffWeb")}}
					<img src="/images/img_logo_pharbers.svg" alt="pharbers" local-class="logo" class="mr-2">
					<p local-class="phweb">进入法伯科技官网&gt;</p>
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
		<img src="/images/img_login_ill.png" alt="ntm" local-class="login-img">
	{{/bp-layout}}
{{/bp-layout}}
