{{#bp-layout direction="col" local-class="management-container" main="center"}}
	{{#bp-layout direction="row" classNames="mb-4"}}
		{{#bp-layout direction="col" local-class="time-info" classNames="bg-white mr-4"}}
			{{#bp-layout tagName="h4" local-class="header icon" cross="center" classNames="pl-4 m-0"}}
				{{bp-icon icon="target"}}
				经理时间
			{{/bp-layout}}
			{{#bp-layout direction="col" main="center" cross="center" local-class="info" classNames="mt-1"}}
				{{#bp-layout local-class="remain-text"}}已用时间{{/bp-layout}}
				{{#bp-layout local-class="percent"}}
					<span local-class={{if (gt curManagerTime maxManagerTime) "red" "span-first-child"}}>{{curManagerTime}}%</span>
					<span class="mt-3">/{{maxManagerTime}}%</span>
				{{/bp-layout}}
				{{#bp-layout classNames="mt-1"}}
					{{#bp-progress as |p|}}
						{{p.bar value=curManagerTime maxValue=maxManagerTime}}
					{{/bp-progress}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}

		{{#bp-layout direction="col" local-class="points-info" classNames="bg-white"}}
			{{#bp-layout tagName="h4" local-class="header icon" cross="center" classNames="pl-4 m-0"}}
				{{bp-icon icon="target"}}经理行动点数
			{{/bp-layout}}
			{{#bp-layout direction="col" main="center" cross="center" local-class="info" classNames="mt-1"}}
				{{#bp-layout local-class="remain-text"}}已用点数{{/bp-layout}}
				{{#bp-layout local-class="percent"}}
					<span local-class="span-first-child">{{curManagerActionPoints}}点</span>
					<span class="mt-3">/{{maxActionPoints}}点</span>
				{{/bp-layout}}
				{{#bp-layout classNames="mt-1"}}
					{{#bp-progress as |p|}}
						{{p.bar value=curManagerActionPoints maxValue=maxActionPoints}}
					{{/bp-progress}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}

	{{#bp-layout local-class="operation" direction="row"}}
		{{#bp-layout local-class="time-operation" direction="col" classNames="mr-4"}}
			{{#bp-layout local-class="allocate-time" direction="col" classNames="bg-white mb-1"}}
				{{#bp-layout tagName="h4" local-class="header" classNames="pl-4 m-0" cross="center"}}
					经理时间分配
				{{/bp-layout}}
				{{!-- {{#bp-layout tagName="p" classNames="pl-4 mb-0"}}
					业务及团队管理用时
				{{/bp-layout}} --}}
				{{#bp-layout local-class="input-time" direction="col" main="center" cross="center"}}
					{{#bp-layout local-class="input" cross="center" classNames="mt-2"}}
						{{#bp-layout cross="center" tagName="span" classNames="mr-4"}}业务数据策略分析{{/bp-layout}}
						{{#bp-input widthSize="small" local-class="per"
							value=managerAnswer.strategAnalysisTime
							onChange=(action "validationInputMangerTime" managerAnswer "strategAnalysisTime" (mut managerAnswer.strategAnalysisTime))}}
						{{/bp-input}}
					{{/bp-layout}}
					{{#bp-layout local-class="input" cross="center"}}
						{{#bp-layout cross="center" tagName="span" classNames="mr-4"}}重点目标客户管理{{/bp-layout}}
						{{#bp-input widthSize="small" local-class="per"
							value=managerAnswer.clientManagementTime
							onChange=(action "validationInputMangerTime" managerAnswer "clientManagementTime" (mut managerAnswer.clientManagementTime))}}{{/bp-input}}
					{{/bp-layout}}
					{{#bp-layout local-class="input" cross="center"}}
						{{#bp-layout cross="center" tagName="span" classNames="mr-4"}}代表及KPI分析{{/bp-layout}}
						{{#bp-input widthSize="small" local-class="per"
							value=managerAnswer.kpiAnalysisTime
							onChange=(action "validationInputMangerTime" managerAnswer "kpiAnalysisTime" (mut managerAnswer.kpiAnalysisTime))}}{{/bp-input}}
					{{/bp-layout}}
					{{#bp-layout local-class="input" cross="center"}}
						{{#bp-layout cross="center" tagName="span" classNames="mr-4"}}行政工作{{/bp-layout}}
						{{#bp-input widthSize="small" local-class="per"
							value=managerAnswer.adminWorkTime
							onChange=(action "validationInputMangerTime" managerAnswer "adminWorkTime" (mut	managerAnswer.adminWorkTime))}}{{/bp-input}}
					{{/bp-layout}}
					{{#bp-layout local-class="input" cross="center"}}
						{{#bp-layout cross="center" tagName="span" classNames="mr-4"}}团队例会{{/bp-layout}}
						{{#bp-input widthSize="small" local-class="per"
							value=managerAnswer.teamMeetingTime
							onChange=(action "validationInputMangerTime" managerAnswer "teamMeetingTime" (mut managerAnswer.teamMeetingTime))}}{{/bp-input}}
					{{/bp-layout}}

					{{#bp-layout local-class="used-time" direction="col" classNames="bg-white" cross="center"}}
						{{#bp-layout direction="row" local-class="coach-info" cross="center" main="center" classNames="mb-3"}}
							{{#bp-layout local-class="text" classNames="mr-4"}}代表能力辅导与协访{{/bp-layout}}
							{{#bp-layout tagName="p" classNames="primary mb-0" local-class=(if (gt curResourceTime maxManagerTime) "red" "percent")}}
								{{curResourceTime}}%
							{{/bp-layout}}
						{{/bp-layout}}

						{{#bp-layout direction="col" cross="center" local-class="resource-time"}}
							{{#each circleResourceTime as |rsTime|}}
									{{#bp-layout direction="row" classNames="mb-2" local-class="resource" main="between" cross="center"}}
										<span>{{rsTime.name}}</span>	
										<span>{{rsTime.value}}%</span>
									{{/bp-layout}}
							{{/each}}

						{{/bp-layout}}

						{{!-- {{#bp-layout local-class="circle-table" main="center"}}
							{{#bp-layout main='center' local-class="circle" style="width:100%;height: 200px" direction="row"}}
								{{bp-circle eid="cricleResourceTime" circleData=circleResourceTime circleColor=circleColor circleSize=circleSize label=true}}
							{{/bp-layout}}
						{{/bp-layout}} --}}
					{{/bp-layout}}


				{{/bp-layout}}
			{{/bp-layout}}

			{{!-- {{#bp-layout local-class="used-time" direction="col" classNames="bg-white"}}
				{{#bp-layout tagName="p" classNames="pl-4" local-class="header"}}代表能力辅导与协访{{/bp-layout}}
					{{#bp-layout direction="row" local-class="coach-info" cross="center" main="center"}}
						{{#bp-layout local-class="text" classNames="mr-4"}}代表能力辅导与协访{{/bp-layout}}
						{{#bp-layout tagName="p" classNames="primary mb-0" local-class="percent"}}{{curResourceTime}}%{{/bp-layout}}
					{{/bp-layout}}
					{{#bp-layout local-class="circle-table" main="center"}}
						{{#bp-layout main='center' local-class="circle" style="width:100%;height: 200px" direction="row"}}
							{{bp-circle eid="cricleResourceTime" circleData=circleResourceTime circleColor=circleColor circleSize=circleSize label=true}}
						{{/bp-layout}}
					{{/bp-layout}}
			{{/bp-layout}} --}}
		{{/bp-layout}}

		{{#bp-layout local-class="points-operation" direction="col" classNames="bg-white"}}
			{{#bp-layout tagName="h4" local-class="header" classNames="pl-4 mb-0" cross="center"}}
				代表培养计划
			{{/bp-layout}}
			{{#bp-layout local-class="resouse-wrapper" direction="row"}}
				{{#bp-layout local-class="resource-list" direction="col"}}
					{{#each resources as |resource index|}}
						{{#bp-layout direction="row" cross="center" classNames="pl-4"
							local-class=(if (bp-eq currentResource index) "resource active" "resource")
							click=(action (mut currentResource) index )}}
							{{!-- <img src={{resource.avatar.img}} alt={{resource.name}}> --}}
							<img src={{get-oss-pic resource.avatar.img picOSS}} alt={{resource.name}}>
							{{#bp-layout classNames="ml-3" cross="center" tagName="span"}}{{resource.name}}{{/bp-layout}}
						{{/bp-layout}}
					{{/each}}
				{{/bp-layout}}
				{{#bp-layout local-class="action-point" direction="col"}}
					{{#each quizs as |quiz index|}}
						{{#if (bp-eq currentResource index)}}
							{{#bp-layout}}
								{{log quiz}}
								{{project/management-input/allocate-action-points
											resources=resources
											validation=validation
											quiz=quiz
											answers=(filter-category answers "Resource")
											validationInputMangerTime=(action "validationInputMangerTime")
											validationManagerActionPoints=(action "validationManagerActionPoints")}}
							{{/bp-layout}}
						{{/if}}
					{{/each}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{!-- {{#bp-layout main="center" classNames="py-4" local-class="management-tabs" }}
		{{#bp-button-group value=groupValue type="radio" 
			onChange=(action (mut groupValue)) as |bg|}}
			{{#bg.button type="default" value=0}}经理时间管理{{/bg.button}}
			{{#bg.button type="default" value=1}}行动点数分配{{/bg.button}}
		{{/bp-button-group}}
	{{/bp-layout}} --}}
	{{!-- 经理剩余时间 start --}}
	{{!-- {{#if (bp-eq groupValue 0)}}
		{{project/management-input/manager-time-management 
			resources=resources
			period=period
			validation=validation
			managerAnswer=(find-category answers "Management")
			answers=(filter-category answers "Resource")}}
	{{else}}
		{{project/management-input/allocate-action-points 
			resources=resources
			validation=validation
			answers=(filter-category answers "Resource")}}
	{{/if}} --}}
{{/bp-layout}}
{{#bp-modal
		local-class="modal"
		open=warning.open
		position='center' 
		onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header closeButton=false classNames="px-4 pt-4 pb-3"}}
		<h4 local-class="modal-title" class="mb-0">
			{{warning.title}}
		</h4>
	{{/modal.header}}
	{{#modal.body classNames="px-4 pt-0"}}
		<p class="desc m-0">
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer classNames="pt-0 pb-4 px-4"}}
		{{#bp-button type="primary" onClick=(action modal.close)}}好的{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}
