{{!-- {{#bp-modal
		size="lg"
		proposal=proposal
		open=notification
		position="center"
		onHidden=(action (mut notification) false)
		local-class="bp-modal"}} --}}
	{{#bp-layout local-class="page-notice"}}
		<div local-class="blank"></div>
		{{#bp-layout direction="col" local-class="item" classNames="mr-4" cross="center"}}
			{{#bp-layout direction="col" local-class="manager" classNames="mb-4 p-4" }}
				
				<h2 local-class="title" class="mb-4">
					{{t "current-task-notification.title-1"}}<br />
					{{t "current-task-notification.title-2"}}
				</h2>
				<p>
					{{t "current-task-notification.desc"}}
				</p>
			{{/bp-layout}}
			{{#bp-layout direction="col" local-class="desc" classNames="p-4"}}
				<h4 local-class="title" >本测试是区域管理周期测试</h4>
				<p>在测试中，您将作为区域项目经理负责本公司的X季度的业务决策和管理决策工作。</p>
				{{!-- <p>{{t "rules-introduction-modal.line-2"}}</p> --}}
				{{!-- <p class="mb-4">{{t "rules-introduction-modal.line-3"}}</p> --}}
				<h4 local-class="title" class="mt-3">业务决策</h4>
				<p>业务决策中,我们将为您设定每个季度Y个产品的销售指标，并给予您充分的预算，您需要彻底分配预算并达成销售指标。</p>
				{{!-- <p class="mb-4">{{t "rules-introduction-modal.line-5"}}</p> --}}
				{{!-- <p class="mb-4">{{t "rules-introduction-modal.line-6"}}</p> --}}
				<h4 local-class="title" class="mt-3">管理决策</h4>
				<p>管理决策中,您将分配您用于业务、团队管理、代表管理的时间，以及用于提升代表能力的行动点数。</p>
				<p class="mt-4">完成决策并提交执行后，我们将对您的能力进行评估。期待您的精彩表现！</p>
			{{/bp-layout}}

			{{#bp-layout direction="col" local-class="matters-attention" classNames="p-4 mt-4" }}
				<h4 local-class="title" >注意事项：</h4>
				<p>请您仔细阅读【参考信息】进行决策。</p>
				<p>业务决策中，需要您为每位代表分配工作任务；并对每家医院下的所有资源进行分配，若不分配，请输入值“0”</p>
				<p>提交前需要分配完所有资源，并达成销售额指标。</p>
			{{/bp-layout}}
		{{/bp-layout}}
		<div local-class="blank"></div>
	{{/bp-layout}}
{{!-- {{/bp-modal}} --}}