{{#bp-modal
		size="lg"
		proposal=proposal
		open=notification
		position="center"
		onHidden=(action (mut notification) false)
		local-class="bp-modal"}}
	{{#bp-layout local-class="page-notice"}}
		<div local-class="blank"></div>
		{{#bp-layout direction="col" local-class="item" 
			classNames="mr-4"}}
			{{#bp-layout direction="col" local-class="manager" 
			classNames="mb-4 p-4"}}
				<img src="https://i.loli.net/2019/04/12/5cb004ea5f31f.png" alt="manager-avatar">
				<h2 local-class="title" class="mb-4">
					{{t "current-task-notification.title-1"}}<br />
					{{t "current-task-notification.title-2"}}
				</h2>
				<p local-class="desc" class="mb-4">
					{{t "current-task-notification.desc"}}
				</p>
			{{/bp-layout}}
			{{#bp-layout direction="col" local-class="rule" classNames="p-4"}}
				<h2 local-class="title" class="mb-4">{{t "rules-introduction-modal.self-name"}}</h2>
				<p>{{t "rules-introduction-modal.line-1"}}</p>
				<p>{{t "rules-introduction-modal.line-2"}}</p>
				<p class="mb-4">{{t "rules-introduction-modal.line-3"}}</p>
				<h4 local-class="title" class="mt-0 mb-3">{{t "rules-introduction-modal.title-1"}}</h4>
				<p class="mb-4">{{t "rules-introduction-modal.line-4"}}</p>
				<p class="mb-4">{{t "rules-introduction-modal.line-5"}}</p>
				<p class="mb-4">{{t "rules-introduction-modal.line-6"}}</p>
				<h4 local-class="title" class="mt-0 mb-3">{{t "rules-introduction-modal.title-2"}}</h4>
				<p>{{t "rules-introduction-modal.line-7"}}</p>
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout direction="col" local-class="mission-notice item" classNames="mt-4"}}
			{{!-- <h1 class="mb-3 p-3">
				<span local-class="title" class="mr-3">本期任务通知</span>
				<span local-class="time" class="pl-2 border-left">{{model.scenario.name}}</span>
			</h1> --}}
			{{#bp-layout tagName="h1" main="between" cross="center" classNames="mb-3 p-3"}}
				<p class="m-0">
					<span local-class="title" class="mr-3">{{t "current-task-notification.self-name"}}</span>
					<span local-class="time" class="pl-2 border-left">{{model.scenario.name}}</span>
				</p>
				{{#bp-button type="primary" onClick=(action "entryMission" model.detailProposal.proposal.id)}}
					{{t "current-task-notification.entry-mission"}}
				{{/bp-button}}
			{{/bp-layout}}
			<div local-class="resource" class="mb-2 p-3 rounded">
				{{#bp-layout tagName="h3" cross="center" classNames="mb-3"}}
					{{bp-icon icon="mission-1"}}
					<span class="ml-2">{{t "current-task-notification.goal"}}</span>
				{{/bp-layout}}
				{{!-- {{#bp-layout direction="col" classNames="px-4 bg-white rounded"}}
					{{#bp-layout local-class="item-resource" classNames="my-4"}}
						{{bp-icon size="large" icon="office-building" 
							local-class="icon"}}
						{{#bp-layout direction="col" local-class="main-box"}}
							{{#bp-layout main="between" classNames="mb-2"}}
								<h4 class="m-0">安排医院数量{{usedResource.arrangedHospital}}家</h4>
								<span local-class="schedule">{{usedResource.arrangedHospital}}/{{model.destConfigs.length}}</span>
							{{/bp-layout}}
							{{#bp-progress as |p|}}
								{{p.bar value=usedResource.arrangedHospital maxValue=model.destConfigs.length}}
							{{/bp-progress}}
						{{/bp-layout}}
						<div local-class="blank"></div>
					{{/bp-layout}}
					{{#bp-layout local-class="item-resource" classNames="my-4"}}
						{{bp-icon size="large" icon="people" 
							local-class="icon"}}
						{{#bp-layout direction="col" local-class="main-box"}}
							{{#bp-layout main="between" classNames="mb-2"}}
								<h4 class="m-0">管理代表人数{{usedResource.arrangedRepresentative}}人</h4>
								<span local-class="schedule">{{usedResource.arrangedRepresentative}}/{{model.resourceConfigRepresentatives.length}}</span>
							{{/bp-layout}}
							{{#bp-progress as |p|}}
								{{p.bar value=usedResource.arrangedRepresentative maxValue=model.resourceConfigRepresentatives.length}}
							{{/bp-progress}}
						{{/bp-layout}}
						<div local-class="blank"></div>
					{{/bp-layout}}
					{{#bp-layout local-class="item-resource" classNames="my-4"}}
						{{bp-icon size="large" icon="china-money" 
							local-class="icon"}}
						{{#bp-layout direction="col" local-class="main-box"}}
							{{#bp-layout main="between" classNames="mb-2"}}
								<h4 class="m-0">分配预算总金额</h4>
								<span local-class="schedule">{{t "current-task-notification.money"}}{{format-number model.resourceConfigManager.managerConfig.totalBudgets}}</span>
							{{/bp-layout}}
							{{#bp-progress as |p|}}
								{{p.bar value=usedResource.assignedBudgets maxValue=model.resourceConfigManager.managerConfig.totalBudgets}}
							{{/bp-progress}}
						{{/bp-layout}}
						<div local-class="blank"></div>
					{{/bp-layout}}
					{{#bp-layout local-class="item-resource" classNames="my-4"}}
						{{bp-icon size="large" icon="pie" 
							local-class="icon"}}
						{{#bp-layout cross="center" local-class="main-box"}}
							<h4 class="m-0">分配经理资源</h4>
							{{#bp-layout direction="col" cross="center" classNames="mx-4"}}
								{{bp-circle local-class="circle"
									seriesName="经理剩余时间" 
									circleData=circleTime}}
								<p class="mt-1 mb-0">时间</p>
							{{/bp-layout}}
							{{#bp-layout direction="col" cross="center"}}
								{{bp-circle local-class="circle"
									seriesName="经理剩余行动点数"
									circleData=circlePoint}}
								<p class="mt-1 mb-0">行动点数</p>
							{{/bp-layout}}
						{{/bp-layout}}
						<div local-class="blank"></div>
					{{/bp-layout}}
				{{/bp-layout}} --}}
				{{#bp-layout main="between" classNames="py-3 bg-white rounded"}}
					<div local-class="item" class="text-center">
						{{bp-icon size="large" icon="office-building" 
							local-class="icon"}}
						<p local-class="desc" class="my-2">{{t "current-task-notification.hospital-number"}}</p>
						<h4 local-class="title" class="m-0">
							{{proposal.targets.length}}{{t "current-task-notification.hospital-number-2"}}
						</h4>
					</div>
					<div local-class="item" class="text-center">
						{{bp-icon size="large" icon="people" 
							local-class="icon"}}
						<p local-class="desc" class="my-2">{{t "current-task-notification.representatives-number"}}</p>
						<h4 local-class="title" class="m-0">
							{{proposal.resources.length}}{{t "current-task-notification.representatives-number-2"}}
						</h4>
					</div>
					<div local-class="item" class="text-center">
						{{bp-icon size="large" icon="time" 
							local-class="icon"}}
						<p local-class="desc" class="my-2">{{t "current-task-notification.per-capita-time"}}</p>
						<h4 local-class="title" class="m-0">
							{{t "current-task-notification.per-capita-time-2"}}
						</h4> 
					</div> 
					<div local-class="item" class="text-center">
						{{bp-icon size="large" icon="raised-hand" local-class="icon"}}
						<p local-class="desc" class="my-2">
							{{t "current-task-notification.meeting"}}
						</p>
						<h4 local-class="title" class="m-0">
							{{t "current-task-notification.meeting-2"}}
						</h4>
					</div>
				{{/bp-layout}}
			</div>
			<div local-class="resource" class="mb-4 p-3 rounded">
				{{#bp-layout tagName="h3" cross="center" classNames="mb-3"}}
					{{bp-icon icon="mission-2"}}
					<span class="ml-2">{{t "current-task-notification.team-and-self-management"}}</span>
				{{/bp-layout}}
				{{#bp-layout main="between" classNames="py-3 bg-white rounded"}}
					<div local-class="item" class="text-center">
						{{bp-icon size="large" icon="pie" 
							local-class="icon"}}
						<p local-class="desc" class="my-2">{{t "current-task-notification.allocate-manager-time"}} </p>
						<h4 local-class="title" class="m-0">
							{{t "current-task-notification.allocate-manager-time-2"}}
						</h4>
					</div>
					<div local-class="item" class="text-center">
						{{bp-icon size="large" icon="point" 
							local-class="icon"}}
						<p local-class="desc" class="my-2">{{t "current-task-notification.manager-action-points"}}</p>
						<h4 local-class="title" class="m-0">
							{{t "current-task-notification.manager-action-points-2"}}
							{{!-- {{model.resourceConfigManager.managerConfig.managerKpi}} --}}
						</h4>
					</div>
				{{/bp-layout}}
			</div>
			<div local-class="resource" class="mb-4 p-3 rounded">
				{{#bp-layout tagName="h3" cross="center" classNames="mb-3"}}
					{{bp-icon icon="mission-3"}}
					<span class="ml-2">{{t "current-task-notification.seasonable-budget-control"}}</span>
				{{/bp-layout}}
				{{#bp-layout direction="col"}}
					{{#bp-layout local-class="item-resource" classNames="p-4 bg-white rounded"}}
						{{bp-icon size="large" icon="china-money" 
							local-class="icon"}}
						{{#bp-layout direction="col" local-class="main-box" classNames="ml-4"}}
							{{#bp-layout main="between" classNames="mb-2"}}
								<h4 class="m-0">{{t "current-task-notification.general-budget"}}</h4>
								<span local-class="schedule">
									{{t "current-task-notification.money"}}{{format-number 0}} /
									{{t "current-task-notification.money"}}{{format-number 1000000}}
								</span>
							{{/bp-layout}}
							{{#bp-progress as |p|}}
								{{p.bar value=usedBudget maxValue=model.resourceConfigManager.managerConfig.totalBudgets}}
							{{/bp-progress}}
						{{/bp-layout}}
						<div local-class="blank"></div>
					{{/bp-layout}}
				{{/bp-layout}}
			</div>
			<div local-class="resource" class="mb-4 p-3 rounded">
				{{#bp-layout tagName="h3" cross="center" classNames="mb-3"}}
					{{bp-icon icon="mission-4"}}
					<span class="ml-2">{{t "current-task-notification.achieve-sales-targets"}}</span>
				{{/bp-layout}}
				{{#bp-layout direction="col"}}
					{{#bp-layout local-class="item-resource" classNames="p-4 bg-white rounded"}}
						{{bp-icon size="large" icon="pill" 
							local-class="icon"}}
						{{#bp-layout direction="col" local-class="main-box" classNames="ml-4"}}
							{{#bp-layout main="between" classNames="mb-2"}}
								{{#each model.goodsConfigs as |gc|}}
									{{#if (bp-eq gc.productConfig.productType 0)}}
										<h4 class="m-0">{{gc.productConfig.product.name}}</h4>
									{{/if}}
								{{/each}}
								<span local-class="schedule">
									{{t "current-task-notification.money"}}{{format-number 0}} /
									{{t "current-task-notification.money"}}{{format-number 1000000}}
								</span>
							{{/bp-layout}}
							{{#bp-progress as |p|}}
								{{p.bar value=usedSalesTarget maxValue=model.resourceConfigManager.managerConfig.totalBusinessIndicators}}
							{{/bp-progress}}
						{{/bp-layout}}
						<div local-class="blank"></div>
					{{/bp-layout}}
				{{/bp-layout}}
			</div>
			{{!-- {{#bp-layout main="end" local-class="entry-mission"}}
				{{#bp-button type="primary" onClick=(action "entryMission" model.detailProposal.proposal.id)}}
					进入任务
				{{/bp-button}}
			{{/bp-layout}} --}}
		{{/bp-layout}}
		<div local-class="blank"></div>
	{{/bp-layout}}
{{/bp-modal}}