{{#bp-layout direction="col" local-class="page-report" classNames="p-4" cross="center"}}
	{{#bp-page-header local-class='report-header' class="mb-4 bg-white" as |ph|}}
		{{#ph.body as |body|}}
			{{#body.left as |left|}}
				{{#left.item }}
					周期销售报告
				{{/left.item}}
				{{#left.item }}
					{{!-- 完成日期：<span class="mx-2">{{format-date-standard project.endTime}}</span>
					用时：<span class="mx-2">{{time-difference project.startTime project.endTime}}</span> --}}
					<span local-class="badge">2019Q1</span>
					<span local-class="badge">最后周期</span>
				{{/left.item}}
			{{/body.left}}
			{{!-- {{#body.right}}
				{{#bp-button disabled=true onClick=(action 'toReport') classNames="mr-1"}}
					导出测试数据
				{{/bp-button}}
				{{#bp-button onClick=(action 'toReport')}}
					返回报告
				{{/bp-button}}
				{{#bp-button onClick=(action 'toIndex')}}
					返回关卡
				{{/bp-button}}
			{{/body.right}} --}}
		{{/ph.body}}
	{{/bp-page-header}}
	{{#bp-layout direction="row" main="between" classNames="mb-1 bg-white" local-class="key-indicator"}}
		{{#bp-layout tagName='h3' cross='center' local-class="title" classNames="mb-2 px-4"}}
			关键指标
		{{/bp-layout}}
		{{#bp-layout cross='center'}}
			<span>选择季度</span>
			{{!-- {{#bp-button}}2019Q1{{/bp-button}} --}}
			{{#bp-dropdown classNames="mr-4 ml-1" widthSize="auto" as |dd|}}
				{{#dd.button }}
					2019Q1
					{{bp-icon icon='down'}}
				{{/dd.button}}
				{{#dd.menu as |menu|}}
					{{!-- {{#each resources as |rcs|}}
						{{#menu.option value=rcs onClick=(action (mut tmpRepConf))}}
							{{rcs.name}}
						{{/menu.option}}
					{{/each}} --}}
				{{/dd.menu}}
			{{/bp-dropdown}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction="row" local-class="indicators" classNames="mb-4"}}
		{{#bp-layout direction="col" local-class="left" classNames="mr-1"}}
			{{#bp-layout local-class="sales" classNames="bg-white mb-1" direction="row" main="between"}}
				{{#bp-layout direction="col" main="center" cross="center" local-class="col"}}
					{{#bp-layout}}
						<span local-class="row-1">总体销售额</span>
					{{/bp-layout}}
					{{#bp-layout }}
						<span local-class="row-2">{{salesReport.finals.lastObject.sales}}</span>
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction="col" main="center" cross="center"  local-class="col"}}
					{{#bp-layout}}
						<span local-class="row-1">总指标达成率</span>
					{{/bp-layout}}
					{{#bp-layout }}
						{{!-- <span local-class="row-2">{{salesReport.quotaAchv}}</span> --}}
						<span local-class="row-2">{{salesReport.finals.lastObject.quotaAchv}}</span>
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout local-class="growth-rate" classNames="bg-white mb-1"}}
				{{#bp-layout direction="col" main="center" cross="center" local-class="col"}}
					{{#bp-layout classNames="mb-4"}}
						<span local-class="row-1">产品销售增长率</span>
					{{/bp-layout}}
					{{#bp-layout }}
						<span local-class="row-2" class="mr-3">4.8%</span>
						<span local-class="row-2-2">同比</span>
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction="col" main="center" cross="center"  local-class="col"}}
					{{#bp-layout classNames="mb-4"}}
						<span local-class="row-1">产品销售增长率</span>
					{{/bp-layout}}
					{{#bp-layout }}
						<span local-class="row-2" class="mr-3">5.8%</span>
						<span local-class="row-2-2" class="">环比</span>
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout local-class="hospital-rio-people" classNames="bg-white"}}
				{{#bp-layout direction="col" main="center" cross="center" local-class="col"}}
					{{#bp-layout classNames="mb-3"}}
						<span local-class="row-1">产品销售增常率</span>
					{{/bp-layout}}
					{{#bp-layout }}
						<span local-class="row-2">30</span>
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction="col" main="center" cross="center"  local-class="col"}}
					{{#bp-layout classNames="mb-3"}}
						<span local-class="row-1">RIO投入产出比</span>
					{{/bp-layout}}
					{{#bp-layout }}
						<span local-class="row-2">{{salesReport.finals.lastObject.roi}}</span>
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction="col" main="center" cross="center" local-class="col"}}
					{{#bp-layout classNames="mb-3"}}
						<span local-class="row-1">人效</span>
					{{/bp-layout}}
					{{#bp-layout }}
						<span local-class="row-2">¥{{salesReport.finals.lastObject.salesForceProductivity}}</span>
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout local-class="right" classNames="bg-white" direction="col"}}
			{{#bp-layout direction="row" main="between" local-class="right-header" cross="center"}}
				{{#bp-layout tagName="h4" local-class="title" cross="center" classNames="ml-4"}}我司产品份额{{/bp-layout}}
				{{#bp-layout local-class="right-btn" classNames="mr-4"}}
					{{#bp-button classNames="mr-1"}}帕金森{{/bp-button}}
					{{#bp-button}}癫痫{{/bp-button}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{bp-row direction='col' rowModel=tmResultProductCircle conditions=tmResultProductCircleCondition}}
			{{!-- {{#bp-layout}}
					charta
				{{/bp-layout}} --}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout local-class="sales-report" tagName="h4" classNames="bg-white pl-4 mb-1" cross="center"}}
		销售报告
	{{/bp-layout}}
	{{#bp-layout local-class="report-info"}}
		{{project/proposal-info/historical-info }}
	{{/bp-layout}}
	{{!-- 
	{{#bp-layout main="between" local-class="performance"}}
		{{#bp-layout direction="col" main="between" local-class="item"
			classNames="mr-2"}}
			{{#bp-layout direction='col' classNames='p-4 bg-white'}}
				{{#bp-layout tabName='h4' cross='center' local-class="title" 
					classNames='mb-4'}}
					能力得分
				{{/bp-layout}}
				{{#bp-layout cross='center' local-class='score content' classNames='mb-2'}}
					{{#bp-layout main='center' cross='center' local-class='img-container'}}
						<img src={{overallInfo.abilityImg.img}} alt="">
					{{/bp-layout}}
					{{#bp-layout cross='center' local-class="text" classNames='ml-4'}}
						{{overallInfo.abilityDes}} --}}
	{{!-- 等级描述，基于『确定』和『自然』的设计价值观和模块化的解决方案，让设计者专注于更好的用户体验。 --}}
	{{!-- {{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction='col' classNames='p-4 bg-white'}}
				{{#bp-layout tabName='h4' cross='center' local-class="title" 
					classNames='mb-4'}}
					荣获称号
				{{/bp-layout}}
				{{#bp-layout cross='center' local-class='won-title content'}}
					{{#bp-layout direction='col' main='center' local-class='img-container'}}
						<img src={{overallInfo.awardImg.img}} alt="">
						<p class="m-0 text-center">{{overallInfo.awardLevel}}级</p>
					{{/bp-layout}}
					{{#bp-layout cross='center' local-class="text" classNames='ml-4'}}
						{{overallInfo.awardDes}} --}}
	{{!-- 等级描述，基于『确定』和『自然』的设计价值观和模块化的解决方案，让设计者专注于更好的用户体验。 --}}
	{{!-- {{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout direction='col' local-class="item" classNames="bg-white"}}
			{{#bp-layout cross='center' local-class="title" 
					classNames='p-4'}}
				能力分析
			{{/bp-layout}} --}}
	{{!-- {{bp-radar-ability
				eid='radarRepresentative'
				radarData=radarData
				hasLegend=false 
				items=radarItems
				maxValue=5}} --}}
	{{!-- {{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout tagName='h3' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4 bg-white"}}
		分项表现
	{{/bp-layout}}
	{{project/result-info/result-block title="区域划分能力" cate="Area" results=results evaluations=evaluations}} --}}
	{{!-- {{#bp-layout direction='col' classNames='mb-2 bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			区域划分能力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src={{model.regionalDivisionResult.levelConfig.level.image.img}} alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul class="m-0">
					{{#each model.regionalDivisionResult.assessmentReportDescribes as |ard|}}
						<li local-class='values'>{{ard.text}}</li>
					{{/each}}
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>
					{{model.regionalDivisionResult.levelConfig.text}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction='col' classNames='mb-2 bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			指标分配能力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src={{model.targetAssignsResult.levelConfig.level.image.img}} alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul class="m-0">
					{{#each model.targetAssignsResult.assessmentReportDescribes as |ard|}}
						<li local-class='values'>{{ard.text}}</li>
					{{/each}}
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>
					{{model.targetAssignsResult.levelConfig.text}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction='col' classNames='mb-2 bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			资源优化能力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src={{model.resourceAssignsResult.levelConfig.level.image.img}} alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul class="m-0">
					{{#each model.resourceAssignsResult.assessmentReportDescribes as |ard|}}
						<li local-class='values'>{{ard.text}}</li>
					{{/each}}
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>
					{{model.resourceAssignsResult.levelConfig.text}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction='col' classNames='mb-2 bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			自我时间管理能力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src={{model.manageTimeResult.levelConfig.level.image.img}} alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul class="m-0">
					{{#each model.manageTimeResult.assessmentReportDescribes as |ard|}}
						<li local-class='values'>{{ard.text}}</li>
					{{/each}}
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>
					{{model.manageTimeResult.levelConfig.text}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction='col' classNames='mb-2 bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			领导力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src={{model.manageTeamResult.levelConfig.level.image.img}} alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul class="m-0">
					{{#each model.manageTeamResult.assessmentReportDescribes as |ard|}}
						<li local-class='values'>{{ard.text}}</li>
					{{/each}}
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>
					{{model.manageTeamResult.levelConfig.text}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}} --}}
{{/bp-layout}}