{{#bp-layout direction="col" local-class="page-report" classNames="p-4" cross="center"}}

	{{#if (bp-eq roundOver "true")}}
		{{#bp-layout local-class="return-round-over" classNames="pb-4" click=(action "toRoundOver")}}
			返回
		{{/bp-layout}}
	{{/if}}

	{{#bp-page-header local-class='report-header' class="mb-4 bg-white" as |ph|}}
		{{#ph.body as |body|}}
			{{#body.left as |left|}}
				{{#left.item }}
					周期销售报告
				{{/left.item}}
				{{#left.item}}
					{{!-- 完成日期：<span class="mx-2">{{format-date-standard project.endTime}}</span>
					用时：<span class="mx-2">{{time-difference project.startTime project.endTime}}</span> --}}

					<span local-class="badge" class="px-2 py-1">{{periods.lastObject.name}}</span>
					{{#if (bp-eq periods.lastObject.phase project.pharse-1)}}
						<span local-class="badge" class="px-2 py-1">最后周期</span>
					{{/if}}
				{{/left.item}}
			{{/body.left}}
			{{#body.right}}
				{{!-- {{#bp-button onClick=(action 'exportReport')}}
					导出报告
				{{/bp-button}} --}}
				{{!-- {{#bp-button onClick=(action 'toReport')}}
					返回报告
				{{/bp-button}}
				{{#bp-button onClick=(action 'toIndex')}}
					返回关卡
				{{/bp-button}} --}}
			{{/body.right}}
		{{/ph.body}}
	{{/bp-page-header}}
	{{#bp-layout direction="row" main="between" classNames="mb-2 bg-white" local-class="key-indicator"}}
		{{#bp-layout tagName='h3' cross='center' local-class="title" classNames="mb-0 px-4"}}
			关键指标
		{{/bp-layout}}
		{{#bp-layout cross='center'}}
			<span>选择季度</span>
			{{#bp-dropdown classNames="mr-4 ml-1" widthSize="auto" as |dd|}}
				{{#dd.button}}
					{{curSelPeriod.name}}
					{{bp-icon icon='down'}}
				{{/dd.button}}
				{{#dd.menu as |menu|}}
					{{#each periods as |item|}}
						{{#menu.option value=item onClick=(action "selPeriod" item)}}
							{{item.name}}
						{{/menu.option}}
					{{/each}}
				{{/dd.menu}}
			{{/bp-dropdown}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction="row" local-class="indicators" classNames="mb-4"}}
		{{#bp-layout direction="col" local-class="left" classNames="mr-2"}}
			{{#bp-layout local-class="sales" classNames="bg-white mb-2" direction="row" main="between"}}
				{{#bp-layout direction="col" main="center" cross="center" local-class="col"}}
						<span local-class="row-1" class="mb-3">总体销售额</span>
						<span local-class="row-2">￥{{format-number curSalesReports.sales 0}}</span>
				{{/bp-layout}}
				{{#bp-layout direction="col" main="center" cross="center"  local-class="col"}}
						<span local-class="row-1" class="mb-3">总指标达成率</span>
						<span local-class="row-2">{{bp-percent curSalesReports.quotaAchv 2}}</span>
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout local-class="growth-rate" classNames="bg-white mb-2"}}
				{{#bp-layout direction="col" main="center" cross="center" local-class="col"}}
					{{#bp-layout classNames="mb-4"}}
						<span local-class="row-1">销售增长率</span>
					{{/bp-layout}}
					{{#bp-layout direction="row"}}
						<span local-class="row-2" class="mr-2">{{bp-percent yoy 1}}</span>
						{{!-- {{#if yoyFlag}} --}}
							{{bp-icon icon=yoyFlag}}
						{{!-- {{else}} --}}
							{{!-- {{bp-icon icon='priority-low'}} --}}
						{{!-- {{/if}} --}}

						<span local-class="row-2-2">同比</span>
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction="col" main="center" cross="center"  local-class="col"}}
					{{#bp-layout classNames="mb-4"}}
						<span local-class="row-1">销售增长率</span>
					{{/bp-layout}}
					{{#bp-layout direction="row"}}
						<span local-class="row-2" class="mr-2">{{bp-percent mom 1}}</span>
						{{bp-icon icon=momFlag}}
						{{!-- {{#if momFlag}}
							{{bp-icon icon='increase'}}
						{{else}}
							{{bp-icon icon='priority-low'}}
						{{/if}} --}}
						<span local-class="row-2-2" class="">环比</span>
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout local-class="hospital-rio-people" classNames="bg-white p-4 mb-0"}}
				{{#bp-layout direction="col" main="center" cross="center" local-class="col"}}
						<span local-class="row-1" class="mb-3">新进医院数量</span>
						{{!-- <span local-class="row-2">30</span> --}}
						<span local-class="row-2 sales-number">{{format-number curSalesReports.newAccount 0}}</span>
				{{/bp-layout}}
				{{!-- {{#bp-layout local-class="sales" classNames="bg-white"}} --}}
				{{#bp-layout direction="col" main="center" cross="center"  local-class="col border-left-right"}}
						<span local-class="row-1" class="mb-3">ROI投入产出比</span>
						{{!-- <span local-class="row-2">30%</span> --}}
						<span local-class="row-2 sales-number">{{format-number curSalesReports.roi 2}}</span>
				{{/bp-layout}}

				{{#bp-layout direction="col" main="center" cross="center" local-class="col"}}
						<span local-class="row-1" class="mb-3">人效</span>
						{{!-- <span local-class="row-2">￥400,000</span> --}}
						<span local-class="row-2 sales-number">￥{{format-number curSalesReports.salesForceProductivity 0}}</span>
				{{/bp-layout}}
				{{!-- {{/bp-layout}} --}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout local-class="right" classNames="bg-white" direction="col"}}
			{{#bp-layout direction="row" main="between" local-class="right-header" cross="center"}}
				{{#bp-layout tagName="h4" local-class="title" cross="center" classNames="ml-4"}}产品市场份额{{/bp-layout}}
				{{#bp-button-group
					class="mr-4"
					value=buttonGroupValue 
					type="radio" 
					onChange=(action 'changeProductArea' buttonGroupValue) as |bg|}}
					{{#each treatmentAreaArr as |item|}}
						{{#bg.button type="default" value=item}}{{item}}{{/bg.button}}
					{{/each}}
				{{/bp-button-group}}
			{{/bp-layout}}
			{{bp-row direction='col' rowModel=tmResultProductCircle conditions=tmResultProductCircleCondition}}

		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout local-class="sales-report" tagName="h4" classNames="bg-white pl-4 mb-2" cross="center"}}
		销售报告
	{{/bp-layout}}
	{{#bp-layout local-class="report-info"}}
		{{project/proposal-info/historical-info
			proposal=proposal
			project=project
			periods=periods
			resources=resources
			products=products
			hospitals=hospitals
			case=proposal.case
			isResultPage=true}}
	{{/bp-layout}}
	{{!-- 
	{{#bp-layout main="between" local-class="performance"}}
		{{#bp-layout direction="col" main="between" local-class="item"
			classNames="mr-2"}}
			{{#bp-layout direction='col' classNames='p-4 bg-white'}}
				{{#bp-layout tabName='h4' cross='center' local-class="title" 
					classNames='mb-4'}}
					能力得分
				{{/bp-layout}}
				{{#bp-layout cross='center' local-class='score content' classNames='mb-2'}}
					{{#bp-layout main='center' cross='center' local-class='img-container'}}
						<img src={{overallInfo.abilityImg.img}} alt="">
					{{/bp-layout}}
					{{#bp-layout cross='center' local-class="text" classNames='ml-4'}}
						{{overallInfo.abilityDes}} --}}
	{{!-- 等级描述，基于『确定』和『自然』的设计价值观和模块化的解决方案，让设计者专注于更好的用户体验。 --}}
	{{!-- {{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction='col' classNames='p-4 bg-white'}}
				{{#bp-layout tabName='h4' cross='center' local-class="title" 
					classNames='mb-4'}}
					荣获称号
				{{/bp-layout}}
				{{#bp-layout cross='center' local-class='won-title content'}}
					{{#bp-layout direction='col' main='center' local-class='img-container'}}
						<img src={{overallInfo.awardImg.img}} alt="">
						<p class="m-0 text-center">{{overallInfo.awardLevel}}级</p>
					{{/bp-layout}}
					{{#bp-layout cross='center' local-class="text" classNames='ml-4'}}
						{{overallInfo.awardDes}} --}}
	{{!-- 等级描述，基于『确定』和『自然』的设计价值观和模块化的解决方案，让设计者专注于更好的用户体验。 --}}
	{{!-- {{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout direction='col' local-class="item" classNames="bg-white"}}
			{{#bp-layout cross='center' local-class="title" 
					classNames='p-4'}}
				能力分析
			{{/bp-layout}} --}}
	{{!-- {{bp-radar-ability
				eid='radarRepresentative'
				radarData=radarData
				hasLegend=false 
				items=radarItems
				maxValue=5}} --}}
	{{!-- {{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout tagName='h3' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4 bg-white"}}
		分项表现
	{{/bp-layout}}
	{{project/result-info/result-block title="区域划分能力" cate="Area" results=results evaluations=evaluations}} --}}
	{{!-- {{#bp-layout direction='col' classNames='mb-2 bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			区域划分能力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src={{model.regionalDivisionResult.levelConfig.level.image.img}} alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul class="m-0">
					{{#each model.regionalDivisionResult.assessmentReportDescribes as |ard|}}
						<li local-class='values'>{{ard.text}}</li>
					{{/each}}
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>
					{{model.regionalDivisionResult.levelConfig.text}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction='col' classNames='mb-2 bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			指标分配能力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src={{model.targetAssignsResult.levelConfig.level.image.img}} alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul class="m-0">
					{{#each model.targetAssignsResult.assessmentReportDescribes as |ard|}}
						<li local-class='values'>{{ard.text}}</li>
					{{/each}}
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>
					{{model.targetAssignsResult.levelConfig.text}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction='col' classNames='mb-2 bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			资源优化能力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src={{model.resourceAssignsResult.levelConfig.level.image.img}} alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul class="m-0">
					{{#each model.resourceAssignsResult.assessmentReportDescribes as |ard|}}
						<li local-class='values'>{{ard.text}}</li>
					{{/each}}
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>
					{{model.resourceAssignsResult.levelConfig.text}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction='col' classNames='mb-2 bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			自我时间管理能力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src={{model.manageTimeResult.levelConfig.level.image.img}} alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul class="m-0">
					{{#each model.manageTimeResult.assessmentReportDescribes as |ard|}}
						<li local-class='values'>{{ard.text}}</li>
					{{/each}}
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>
					{{model.manageTimeResult.levelConfig.text}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction='col' classNames='mb-2 bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			领导力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src={{model.manageTeamResult.levelConfig.level.image.img}} alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul class="m-0">
					{{#each model.manageTeamResult.assessmentReportDescribes as |ard|}}
						<li local-class='values'>{{ard.text}}</li>
					{{/each}}
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>
					{{model.manageTeamResult.levelConfig.text}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}} --}}
{{/bp-layout}}