{{#bp-layout local-class="header"}}
	{{#bp-layout tagName="h4" cross="center" local-class="title" classNames="bg-white mb-0" }}
		
		
		{{#if (bp-eq quizs.firstObject.preset.phase 0)}}
		{{#bp-layout direction="row" main="start" cross="center"
			classNames="ml-4 click-part"
			local-class=(if (bp-eq quizs.firstObject.preset.phase 0) "click-part" "clicked-part")
			click=(if (bp-eq quizs.firstObject.preset.phase 0) (action "changedResource" sortQuizs.firstObject.answer)) }}
			{{!-- click=(action "changedResource" sortQuizs.firstObject.answer) }} --}}
			{{#bp-layout direction="row" local-class="check-box" classNames="mr-3"}}
				{{#if hasResource}}
				{{!-- {{bp-icon icon="check-circle" }} --}}
						{{bp-icon icon='hospital-checked'}}
					{{!-- {{else}}
						{{bp-icon icon='hospital-checked-disabled'}} --}}
				{{else}}
					{{bp-icon icon='hospital-unchecked'}}
				{{/if}}
			{{/bp-layout}}	
			{{!-- {{#if (bp-eq index 0)}}
				{{log popperOption}}
				{{#attach-popover class="ember-attacher-popper popover-outer"
					modifiers=popperOption
					arrow=true
					flip="top"
					placement="top"
					hideOn='click'
					showOn='click'
					isShown=true
					as |attacher|}}
					<p>
						Popovers and tooltips, oh my!
					</p>
					<button {{action attacher.hide}}>close</button>
				{{/attach-popover}}
			{{/if}} --}}
		{{/bp-layout}}
		{{/if}}

		
	{{#bp-layout direction="row" main="start" cross="center"
		local-class=(if hasResource "enable-click show-part" "disable-click show-part active-hover")
		click=(if hasResource (action 'selectCurHospital' hospital.id)) 
		classNames= (if (bp-eq quizs.firstObject.preset.phase 0) "pr-4" "px-4")}}
		{{#if (bp-eq quizs.firstObject.preset.phase 0)}}
		<span local-class="line" class="mr-3"></span>
		{{/if}}
		{{#bp-layout direction="row" main="between" local-class="flex-1"}}
		{{#bp-layout direction="row"}}
			{{#bp-layout local-class=(if hasResource "check-name" "uncheck-name")}}
					{{hospital.name}}
			{{/bp-layout}}
			{{#if hospitalDrugstore}}
				{{#if (bp-not-eq quizs.firstObject.preset.phase 0)}}
					{{#bp-layout local-class="drugstore" classNames="ml-2"}}
						{{hospital.name}}+关联药房
					{{/bp-layout}}
				{{/if}}
			{{/if}}
		{{/bp-layout}}

	{{#bp-layout}}
		{{#bp-layout direction="row" cross="center" local-class="right"}}
			{{#if hasResource}}
				{{#bp-layout direction="row" local-class="item-right" cross="center" classNames="mr-2"}}
					{{#bp-layout local-class="badge" class="px-1"}}
						{{bp-icon icon="representative"}}
						{{sortQuizs.firstObject.answer.resource.name}}
					{{/bp-layout}}
				{{/bp-layout}}
			{{/if}}
			
			{{#if (bp-not-eq sortQuizs.firstObject.answer.meetingPlaces -1 0 "" "0")}}
				{{#bp-layout direction="row" local-class="item-right" cross="center" classNames="mr-2"}}
					{{#bp-layout local-class="badge" class="px-1"}}
						{{bp-icon icon="meeting-quota"}}
						{{sortQuizs.firstObject.answer.meetingPlaces}}
					{{/bp-layout}}
				{{/bp-layout}}
			{{/if}}

			{{#bp-layout local-class=(if hasResource "icon-check" "icon-no-check")}}
				{{#bp-button local-class="icon-button" 
								onClick=(action 'selectCurHospital' hospital.id) 
								disabled=(if hasResource false true)
								direction="row" main="center" cross="center"}}
					{{!-- {{bp-icon icon='data'}} --}}
					{{#if hasResource}}
						{{#if showContent}}
							{{bp-icon icon="right"}}
						{{!-- <img src="/images/btn_exp_enable.svg" alt="">	 --}}
						{{else}}
							{{bp-icon icon="down"}}
							{{!-- <img src="/images/btn_exp_selected.svg" alt=""> --}}
						{{/if}}
					{{else}}
						{{bp-icon icon="right"}}
						{{!-- <img src="/images/btn_exp_disabled.svg" alt=""> --}}
					{{/if}}					
				{{/bp-button}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}

	{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
{{#bs-collapse collapsed=showContent}}
{{!-- {{#bp-layout direction='col' classNames='bg-white mb-2'}}
	{{#bp-layout tagName="h5" cross="center" local-class="title" classNames="px-4 m-0"}}
		代表和时间分配
	{{/bp-layout}}
	{{#bp-layout main='between' local-class='representative-time' classNames='py-4'}}
		{{#bp-layout main='between' cross='center' local-class='item' classNames='px-4'}}
			<span local-class='keys' class='mr-3'>指定代表</span>
			{{#bp-dropdown widthSize="auto" local-class="dd-representative operating" as |dd|}}
				{{#dd.button}}
					{{#if sortQuizs.firstObject.answer.resource}}
						{{sortQuizs.firstObject.answer.resource.name}}
					{{else}}
						代表
					{{/if}}
					{{bp-icon icon='down'}}
				{{/dd.button}}
				{{#dd.menu as |menu|}}
					{{#each resources as |resource|}}
						{{#menu.option value=resource onClick=(action 'changedResource') local-class="representative-info"}}
							{{#bp-layout cross="center"}}
								<img width="24" src={{resource.avatar.img}} alt="avatar" class="mr-2">
								<span local-class="name" class="mr-2">
									{{resource.name}}
								</span>
							{{/bp-layout}}
						{{/menu.option}}
					{{/each}}
				{{/dd.menu}}
			{{/bp-dropdown}}
		{{/bp-layout}}
		{{#bp-layout main='between' cross='center' local-class='item' classNames='px-4'}}
			<span local-class='keys' class='mr-3'>分配时间</span>
			{{bp-input widthSize="auto"
					value=sortQuizs.firstObject.answer.visitTime
					onChange=(action "visitTimeValidation" sortQuizs.firstObject.answer (mut sortQuizs.firstObject.answer.visitTime))
					local-class="input-prepend input-time operating"}}
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}} --}}
{{!-- {{#bp-layout tagName="h5" cross="center" local-class="title" classNames="m-0 px-4 bg-white"}}
	药品相关资源设定
{{/bp-layout}} --}}
{{#bp-layout local-class="hospital-resource" class="px-4 pb-4 pt-3 bg-white"}}
	<table local-class="prod" class="table mb-2">
		<thead class='bg-white'>
			<tr class="pb-0">
				<th class="border-0 pr-2 pl-0 text-left pb-2">产品名称</th>
				{{#if (bp-eq proposal.case "ucb")}}
						<th class="border-0 px-2 text-left pb-2">患者数量</th>
						<th class="border-0 px-2 text-left pb-2">准入情况</th>
				{{else if (bp-eq proposal.case "tm")}}
						<th class="border-0 px-2 text-left pb-2">药品潜力</th>
				{{/if}}
				<th class="border-0 px-2 text-left pb-2">上季度销售额</th>
				<th class="border-0 px-2 text-center pb-2">销售指标分配</th>
				<th class="border-0 pl-2 text-center pb-2">预算分配</th>
			</tr>
		</thead>
		<tbody class="bg-white">
			{{#each sortQuizs as |quiz|}}
				<tr class="mx-0 mx-4">
					<td class="pr-2 border-0 text-left">
						{{quiz.preset.product.name}}
					</td>
						{{#if (bp-eq proposal.case "ucb")}}
						<td class="px-2 border-0 text-left">
						{{format-number quiz.preset.currentPatientNum}}
						</td>

						<td class="px-2 border-0 text-left">
								{{#if (bp-eq quiz.preset.currentDurgEntrance 1)}}
									已开发
								{{else if (bp-eq quiz.preset.currentDurgEntrance 2)}}
									正在开发
								{{else if (bp-eq quiz.preset.currentDurgEntrance 0)}}
									未开发
								{{/if}}
						</td>
						{{else if (bp-eq proposal.case "tm")}}
						<td class="px-2 border-0 text-left">
							￥{{format-number quiz.preset.potential}}
						</td>
						{{/if}}

					<td class="px-2 border-0 text-left">
						{{#if (bp-not-eq quiz.preset.lastSales null)}}
							￥{{format-number quiz.preset.lastSales 0}}

						{{else}}
							￥0
						{{/if}}
					</td>
					<td class="border-0">
						{{#bp-layout main="center" direction="row"}}
									{{!-- disabled=(if (bp-eq quiz.preset.currentDurgEntrance 0) true false) --}}
							{{bp-input block=true  
									value=quiz.answer.salesTarget
									onChange=(action "salesTargetValidation" quiz.answer "salesTarget" (mut quiz.answer.salesTarget))
									local-class="input-prepend input-money sales-input"
									disabled=false
									classNames="mb-2 px-0"}}
						{{/bp-layout}}
						{{!-- <span class="mt-2 mb-0 text-center" local-class="percent">
							{{IndicatorAllocationPercent.percent}}56%
						</span> --}}
					</td>
					<td class="border-0">
						{{#bp-layout main="center" direction="row"}}
						{{bp-input block=true 
							value=quiz.answer.budget
							onChange=(action "budgetValidation" quiz.answer "budget")
							disabled=false
							classNames="px-0 mb-2"
							local-class="input-prepend input-money budget-input"}}
							{{/bp-layout}}
						{{!-- <span class="mt-2 mb-0 text-center" local-class="percent">
							{{budgetPercent.percent}}56%
						</span> --}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{/bp-layout}}

{{#if (bp-eq proposal.case "tm")}}
{{#bp-layout main='between' local-class="meeting-place" classNames='py-4 bg-white'}}
	{{#bp-layout main='between' cross='center' local-class='item' classNames='px-4'}}
		<span local-class="keys" class='mr-3'>分配会议名额</span>
		{{bp-input
					value=quizs.firstObject.answer.meetingPlaces
					disabled=disabledInput
					onChange=(action "meetingPlacesValidation" quizs.firstObject.answer "meetingPlaces" (mut quizs.firstObject.answer.meetingPlaces))
					local-class="input-prepend input-meeting operating"}}
	{{/bp-layout}}
	{{#bp-layout main='between' cross='center' local-class='item' classNames='px-4'}}
	{{/bp-layout}}
	{{#bp-layout main='between' cross='center' local-class='item' classNames='px-4'}}
	{{/bp-layout}}
{{/bp-layout}}
{{/if}}
{{/bs-collapse}}
{{yeild}}