{{#bp-layout local-class="header" }}
	{{#bp-layout tagName="h4" cross="center" local-class="title" classNames="bg-white mb-0" }}
		{{!-- {{#if (bp-eq index 0)}}
			{{log popperOption}}
			{{#attach-popover class="ember-attacher-popper popover-outer"
				modifiers=popperOption
				arrow=true
				placement="bottom-start"
				hideOn='click'
				showOn=''
				isShown=true
				as |attacher|}}
				<p>
					Popovers and tooltips, oh my!
				</p>
				<button {{action attacher.hide}}>close</button>
			{{/attach-popover}}
		{{/if}} --}}
	
		{{#if (bp-eq quizs.firstObject.preset.phase 0)}}
		{{#bp-layout direction="row" main="start" cross="center"
			classNames="ml-4 click-part"
			local-class=(if (bp-eq quizs.firstObject.preset.phase 0) "click-part" "clicked-part")
			click=(if (bp-eq quizs.firstObject.preset.phase 0) (action "changedResource" sortQuizs.firstObject.answer)) }}
			{{!-- click=(action "changedResource" sortQuizs.firstObject.answer) }} --}}
			{{#bp-layout direction="row" local-class="check-box" classNames="mr-3"}}
				{{#if hasResource}}
				{{!-- {{bp-icon icon="check-circle" }} --}}
						{{bp-icon icon='hospital-checked'}}
					{{!-- {{else}}
						{{bp-icon icon='hospital-checked-disabled'}} --}}
				{{else}}
					{{bp-icon icon='hospital-unchecked'}}
				{{/if}}
			{{/bp-layout}}	
			{{#if (bp-eq index 0)}}
				{{#attach-popover class="ember-attacher-popper popover-outer"
					modifiers=popperOption
					arrow=true
					placement="bottom"
					hideOn='click'
					showOn=''
					isShown=runtimeConfig.popover
					as |attacher|}}
					{{log showPopover}}
					{{#bp-layout direction="row" main="start" local-class="popover-content"}}
						{{#bp-layout direction="col" main="start" local-class="popover-left" classNames="mr-3"}}
							{{bp-icon icon='question-circle'}}
						{{/bp-layout}}
						{{#bp-layout direction="col" main="start" local-class="popover-right"}}
							<p local-class="title">如何分配</p>
							{{#if (bp-eq proposal.case "ucb")}}
								<p local-class="subtitle">第1步</p>
								<p local-class="text">选择代表，点击<span local-class="pic"> {{bp-icon icon='hospital-unchecked'}} </span>将其分配至医院。
								<br>
								如若取消分配，点击 <span local-class="pic">{{bp-icon icon='hospital-checked'}} </span>即可取消。</p>
								<p local-class="subtitle">第2步</p>
								<p local-class="text">完成代表分配后，点击条目展开进行资源分配。</p>
							{{else}}
								<p local-class="subtitle">第1步</p>
								<p local-class="text">选择代表，点击<span local-class="pic"> {{bp-icon icon='hospital-unchecked'}} </span>将其分配至医院</p>
								<p local-class="subtitle">第2步</p>
								<p local-class="text">分配代表拜访时间（%）至医院</p>
								<p local-class="subtitle">第3步</p>
								<p local-class="text">点击医院条目展开进行资源分配</p>
							{{/if}}
							{{#bp-layout direction="row" main="end" local-class="popover-btn"}}
								{{#bp-button type="default" click=(action "hidePopover" attacher.hide)}}
									我知道了
								{{/bp-button}}
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
				{{/attach-popover}}
			{{/if}}
		{{/bp-layout}}
		{{/if}}
		
	{{#bp-layout direction="row" main="start" cross="center"
		local-class=(if hasResource "enable-click show-part" "disable-click show-part active-hover")
		click=(if hasResource (action 'selectCurHospital' hospital.id)) 
		classNames= (if (bp-eq quizs.firstObject.preset.phase 0) "pr-4" "px-4")}}
		{{#if (bp-eq quizs.firstObject.preset.phase 0)}}
		<span local-class="line" class="mr-3"></span>
		{{/if}}
		{{#bp-layout direction="row" main="between" local-class="flex-1"}}
		{{#bp-layout direction="row"}}
			{{#bp-layout local-class=(if hasResource "check-name" "uncheck-name")}}
					{{hospital.name}}
			{{/bp-layout}}
			{{#if hospitalDrugstore}}
				{{#if (bp-not-eq quizs.firstObject.preset.phase 0)}}
					{{#bp-layout local-class="drugstore" classNames="ml-2"}}
						{{hospital.name}}+关联药房
					{{/bp-layout}}
				{{/if}}
			{{/if}}
		{{/bp-layout}}

	{{#bp-layout}}
		{{#bp-layout direction="row" cross="center" local-class="right"}}
			{{#if (bp-not-eq sortQuizs.firstObject.answer.meetingPlaces -1 0 "" "0")}}
				{{#bp-layout direction="row" local-class="item-right" cross="center" classNames="mr-2"}}
					{{#bp-layout local-class="badge" class="px-1"}}
						{{bp-icon icon="meeting-quota"}}
						{{sortQuizs.firstObject.answer.meetingPlaces}}
					{{/bp-layout}}
				{{/bp-layout}}
			{{/if}}

			{{#if hasResource}}
				
				{{#bp-layout direction="row" local-class="item-right" cross="center" classNames="mr-2"}}
					{{#if (bp-eq curResource.id quizs.firstObject.answer.resource.id)}}
						{{#bp-layout local-class="badge-changed" class="px-1" cross="center"}}
							{{bp-icon icon="representative"}}
							{{sortQuizs.firstObject.answer.resource.name}}
						{{/bp-layout}}
					{{else}}
						{{#bp-layout local-class="badge" class="px-1" cross="center"}}
							{{bp-icon icon="representative"}}
							{{sortQuizs.firstObject.answer.resource.name}}
						{{/bp-layout}}
					{{/if}}

				{{/bp-layout}}
			{{/if}}
			

			{{#bp-layout local-class=(if hasResource "icon-check" "icon-no-check")}}
				{{#bp-button local-class="icon-button" 
								onClick=(action 'selectCurHospital' hospital.id) 
								disabled=(if hasResource false true)
								direction="row" main="center" cross="center"}}
					{{!-- {{bp-icon icon='data'}} --}}
					{{#if hasResource}}
						{{#if showContent}}
							{{bp-icon icon="right"}}
						{{!-- <img src="/images/btn_exp_enable.svg" alt="">	 --}}
						{{else}}
							{{bp-icon icon="down"}}
							{{!-- <img src="/images/btn_exp_selected.svg" alt=""> --}}
						{{/if}}
					{{else}}
						{{bp-icon icon="right"}}
						{{!-- <img src="/images/btn_exp_disabled.svg" alt=""> --}}
					{{/if}}					
				{{/bp-button}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}

	{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}

{{#bs-collapse collapsed=showContent}}
{{#bp-layout local-class="hospital-resource" class="px-4 pb-4 pt-3 bg-white"}}
	<table local-class="prod" class="table mb-2">
		<thead class='bg-white'>
			<tr class="pb-0">
				<th class="border-0 pr-2 pl-0 text-left pb-2 pt-2">产品名称</th>
				{{#if (bp-eq proposal.case "ucb")}}
						<th class="border-0 px-2 text-left pb-2 pt-2">患者总数</th>
						<th class="border-0 px-2 text-left pb-2 pt-2">准入情况</th>
				{{else if (bp-eq proposal.case "tm")}}
						<th class="border-0 px-2 text-left pb-2 pt-2">药品潜力</th>
				{{/if}}
				<th class="border-0 px-2 text-left pb-2 pt-2">上季度销售额</th>
				<th class="border-0 px-2 text-center pb-2 pt-2">销售指标分配</th>
				<th class="border-0 pl-2 text-center pb-2 pt-2">预算分配</th>
			</tr>
		</thead>
		<tbody class="bg-white">
			{{#each sortQuizs as |quiz|}}
				<tr class="mx-0 mx-4">
					<td class="pr-2 border-0 text-left">
						{{quiz.preset.product.name}}
					</td>
						{{#if (bp-eq proposal.case "ucb")}}
						<td class="px-2 border-0 text-left">
						{{format-number quiz.preset.currentPatientNum}}
						</td>

						<td class="px-2 border-0 text-left">
								{{#if (bp-eq quiz.preset.currentDurgEntrance 1)}}
									已进院
								{{else if (bp-eq quiz.preset.currentDurgEntrance 2)}}
									正在进院
								{{else if (bp-eq quiz.preset.currentDurgEntrance 0)}}
									未进院
								{{/if}}
						</td>
						{{else if (bp-eq proposal.case "tm")}}
						<td class="px-2 border-0 text-left">
							￥{{format-number quiz.preset.potential}}
						</td>
						{{/if}}

					<td class="px-2 border-0 text-left">
						{{#if (bp-not-eq quiz.preset.lastSales null)}}
							￥{{format-number quiz.preset.lastSales 0}}

						{{else}}
							￥0
						{{/if}}
					</td>
					<td class="border-0">
						{{#bp-layout main="center" direction="row"}}
							{{bp-input block=true  
									value=quiz.answer.salesTarget
									onChange=(action "salesTargetValidation" quiz.answer "salesTarget" (mut quiz.answer.salesTarget))
									local-class="input-prepend input-money sales-input"
									disabled=false
									classNames="mb-2 px-0"}}
						{{/bp-layout}}
					</td>
					<td class="border-0">
						{{#bp-layout main="center" direction="row"}}
						{{bp-input block=true 
							value=quiz.answer.budget
							onChange=(action "budgetValidation" quiz.answer "budget")
							disabled=false
							classNames="px-0 mb-2"
							local-class="input-prepend input-money budget-input"}}
							{{/bp-layout}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{/bp-layout}}

{{#if (bp-eq proposal.case "tm")}}
{{#bp-layout main='between' local-class="meeting-place" classNames='pb-4 bg-white'}}
	{{#bp-layout main='between' cross='center' local-class='item' classNames='px-4'}}
		<span local-class="keys" class='mr-3'>分配会议名额</span>
		{{bp-input
					value=quizs.firstObject.answer.meetingPlaces
					disabled=disabledInput
					onChange=(action "meetingPlacesValidation" quizs.firstObject.answer "meetingPlaces" (mut quizs.firstObject.answer.meetingPlaces))
					local-class="input-prepend input-meeting operating"}}
	{{/bp-layout}}
	{{#bp-layout main='between' cross='center' local-class='item' classNames='px-4'}}
	{{/bp-layout}}
	{{#bp-layout main='between' cross='center' local-class='item' classNames='px-4'}}
	{{/bp-layout}}
{{/bp-layout}}
{{/if}}
{{/bs-collapse}}
{{yeild}}