{{#bp-modal
		open=rules 
		position="center"
		onHidden=(action (mut rules) false) 
		local-class="bp-modal" as |modal|}}
	{{#modal.header classNames="px-4 py-3 border-0"}}
		{{t "rules-introduction-modal.self-name"}}
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="secondary mb-0">{{t "rules-introduction-modal.line-1"}}</p>
		<p class="secondary mb-0">{{t "rules-introduction-modal.line-2"}}</p>
		<p class="secondary mb-4">{{t "rules-introduction-modal.line-3"}}</p>
		<h4 class="title mt-0 mb-3">{{t "rules-introduction-modal.title-1"}}</h4>
		<p class="secondary mb-4">{{t "rules-introduction-modal.line-4"}}</p>
		<p class="secondary mb-4">{{t "rules-introduction-modal.line-5"}}</p>
		<p class="secondary mb-4">{{t "rules-introduction-modal.line-6"}}</p>
		<h4 class="title mt-0 mb-3">{{t "rules-introduction-modal.title-2"}}</h4>
		<p class="secondary">{{t "rules-introduction-modal.line-7"}}</p>
	{{/modal.body}}
{{/bp-modal}}