{{#bp-layout direction="col" local-class="reference-container" }}
	{{#bp-layout main="center" classNames="py-4" local-class="reference-tabs" }}
		{{#bp-button-group value=groupValue type="radio" onChange=(action (mut groupValue)) as |bg|}}
			{{#bg.button type="default" value=0 }}产品竞品信息{{/bg.button}}
			{{#bg.button type="default" value=1}}医院基本信息{{/bg.button}}
			{{#bg.button type="default" value=2}}团队成员信息{{/bg.button}}
			{{#bg.button type="default" value=3}}历史部署情况{{/bg.button}}
		{{/bp-button-group}}
	{{/bp-layout}}
	{{#if (bp-eq groupValue 0)}}
		<div local-class="products-container reference-content">
			<div local-class="trend" class="mb-4">
				<h3 local-class="title" class="px-4">产品份额竞争趋势</h3>
				<div local-class="trend-line"></div>
			</div>
			{{#each model.goodsConfigs as |item|}}
				{{product-info goods=item}}
			{{/each}}
		</div>
	{{else if (bp-eq groupValue 1)}}
		<div local-class="hospitals-container reference-content">
			{{#each model.destConfigs as |dc|}}
				{{hospital-info dests=dc prods=model.goodsConfigs}}
			{{/each}}
		</div>
	{{else if (bp-eq groupValue 2)}}
		<h3>团队成员信息</h3>
	{{else}}
		<h3>历史部署情况</h3>
	{{/if}}
{{/bp-layout}}