{{#bp-layout direction="col" local-class="business-container" classNames="pt-4"}}
	{{#bp-layout main="between" local-class="overviews" classNames="mb-4"}}
		<div local-class="item">
			{{#bp-layout tagName="h2" cross="center" classNames="m-0 px-4" local-class="title"}}
				{{t "project.business-input.total-business-indicators"}}
			{{/bp-layout}}
			<div class="p-4">
				<p local-class="m-name" class="mb-3 ">	
					{{currentName}}
				</p>
				<p local-class="info" class="mb-3">
					{{t "project.business-input.money"}}
					{{format-number 12345}} /
					{{t "project.business-input.money"}}
					{{format-number project.proposal.quota.totalQuotas}}
				</p>
				{{#bp-progress local-class="progress" as |p|}}
					{{p.bar value=12345 maxValue=project.proposal.quota.totalQuotas}}
				{{/bp-progress}}
				{{!-- {{#bp-layout tagName="p" cross="center" local-class="legend" classNames="m-0"}}
					{{#bp-layout tagName="span" cross="center"}}
						<span local-class="circle" class="mr-2"></span>
						<span local-class="values">
							{{model.salesConfigs.firstObject.goodsConfig.productConfig.product.name}}
						</span>
					{{/bp-layout}}
				{{/bp-layout}} --}}
			</div>
		</div>
		<div local-class="item" class="mx-2">
			{{#bp-layout tagName="h2" cross="center" classNames="m-0 px-4" local-class="title"}}
				{{t "project.business-input.total-budget"}}
			{{/bp-layout}}
			<div class="p-4">
				<p local-class="m-name" class="mb-3 ">{{currentName}}</p>
				<p local-class="info" class="mb-3">
					{{t "project.business-input.money"}}
					{{format-number 100000}} /
					{{t "project.business-input.money"}}
					{{format-number project.proposal.quota.totalBudget}}
				</p>
				{{#bp-progress as |p|}}
					{{p.bar value=100000 maxValue=project.proposal.quota.totalBudget}}
				{{/bp-progress}}
				{{!-- {{#bp-layout tagName="p" cross="center" local-class="legend" classNames="m-0"}}
					{{#bp-layout tagName="span" cross="center"}}
						<span local-class="circle" class="mr-2"></span>
						<span local-class="values">
							{{model.salesConfigs.firstObject.goodsConfig.productConfig.product.name}}
						</span>
					{{/bp-layout}}
				{{/bp-layout}} --}}
			</div>
		</div>
		<div local-class="item" class="mx-2">
			{{#bp-layout tagName="h2" cross="center" 
				classNames="m-0 px-4" local-class="title"}}
				{{t "project.business-input.represents-remaining-time"}}
			{{/bp-layout}}
			{{#bp-layout main="between" wrap=true classNames="p-4"}}
				{{#each project.proposal.resources as |rs|}}
					<p local-class="rest-time">
						<span local-class="keys" class="mr-2">
							{{rs.name}}
						</span>
						<span local-class="values">
							{{!-- {{rs.restTime}} --}}
							{{10}}
							{{t "project.business-input.p"}}
						</span>
					</p>
				{{/each}}
			{{/bp-layout}}
			{{!-- <div class="px-4 pt-4">
				{{#each representativesVisitPercent as |rVP|}}
					<p local-class="rest-time">
						<span>{{rVP.resourceConfig.representativeConfig.representative.name}}</span>
						<span>{{rVP.restTime}}%</span>
					</p>
				{{/each}}
			</div> --}}
		</div>
		<div local-class="item">
			{{#bp-layout tagName="h2" cross="center" 
				classNames="m-0 px-4" local-class="title"}}
				{{t "project.business-input.total-meeting-places"}}
			{{/bp-layout}}
			<div class="px-4 pt-4">
				<p local-class="m-name" class="mb-3 ">&nbsp;</p>
				<p local-class="info" class="mb-4">
					{{format-number 2}} /
					{{format-number project.proposal.quota.meetingPlaces}}
					<span local-class="unit">
						{{t "project.business-input.number"}}
					</span>
				</p>
				{{#bp-progress as |p|}}
					{{p.bar value=2 maxValue=project.proposal.quota.meetingPlaces}}
				{{/bp-progress}}
			</div>
		</div>
	{{/bp-layout}}
	{{#bp-layout local-class="hospitals"}}
		{{#bp-layout direction="col" local-class="hospitals-configs" classNames="mr-4 px-4 bg-white"}}
			{{#bp-layout tagName="h3" cross="center" main="between"local-class="title" classNames="m-0"}}
				<span>
					{{t "project.business-input.target-hospital-selection"}}
					{{project.proposal.targets.length}}
					{{t "project.business-input.target-hospital-selection-2"}}
				</span>
				{{#bp-dropdown widthSize="auto" local-class="dd-hosp" as |dd|}}
					{{#dd.button type="link-subtle" }}
						{{t "project.business-input.please-choose"}}
						{{bp-icon icon="down"}}
					{{/dd.button}}
					{{#dd.menu as |menu|}}
						{{#each hospitalState as |hs|}}
							{{#menu.option value=hs onClick=(action (mut currentHospState))}}
							{{hs.name}}
							{{/menu.option}}
						{{/each}}
					{{/dd.menu}}
				{{/bp-dropdown}}
			{{/bp-layout}}
			{{#each project.proposal.targets as |hosp|}}
				{{project/business-input/hospital-overall hospital=hosp}}
			{{/each}}
		{{/bp-layout}}
		{{#bp-layout direction="col" local-class="hospital" class="mb-2"}}
			{{#each project.proposal.targets as |hosp|}}
				{{#project/business-input/hospital-config/hospital-answer hospital=hosp exam=facade as |answer|}}
				{{project/business-input/hospital-config 
					hospital=hosp 
					products=project.proposal.products 
					resources=project.proposal.resources
					answer=answer}}
				{{/project/business-input/hospital-config/hospital-answer}}
			{{/each}}
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
{{!-- 总业务指标/总预算/总会议名额 超额提醒 --}}
{{#bp-modal
		open=warning.open 
		position="center"
		onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
			{{warning.title}}
		</h4>
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="desc m-0">
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="primary" onClick=(action modal.close)}}{{t "project.business-input.OK"}}{{/bp-button}}
		{{!-- {{#bp-button type="danger"}}Delete{{/bp-button}} --}}
		{{!-- {{#bp-button type="success" onClick=(action modal.submit)}}Save{{/bp-button}} --}}
	{{/modal.footer}}
{{/bp-modal}}
{{yield}}