{{#bp-layout direction="col" local-class="business-container" classNames="" main="center"}}
	{{#bp-layout local-class="sales-and-budget" direction="row"  classNames="mb-4" main="center"}}
		{{#bp-layout local-class="sales" classNames="bg-white mr-4" direction="col" }}
			{{#bp-layout tagName="h4" classNames="py-3 pl-3" cross="center" local-class="icon sales-header"}}
				{{bp-icon icon="target"}}
				药品销售额指标
			{{/bp-layout}}
			{{#bp-layout direction="row"}}
				{{#bp-layout local-class="product-icon" direction="col" classNames="ml-4"}}
					{{#each products as |product|}}
						{{#if (bp-eq product.productType 0)}}
							{{#bp-layout}}
								{{bp-icon icon="product"}} {{product.name}}
							{{/bp-layout}}
						{{/if}}
					{{/each}}
				{{/bp-layout}}

				{{#bp-layout cross="center" classNames="ml-4" direction="col"}}
					{{#each products as |product|}}
						{{#if (bp-eq product.productType 0)}}
							{{#bp-layout classNames="my-2"}}
								{{#bp-progress as |p|}}
									{{p.bar value=2400000 maxValue=2400000}}
								{{/bp-progress}}
							{{/bp-layout}}
						{{/if}}
					{{/each}}
				{{/bp-layout}}

				{{#bp-layout classNames="mx-4" local-class="sales-money" direction="col"}}
					{{#each products as |product|}}
						{{#if (bp-eq product.productType 0)}}
							{{#bp-layout}}
									<span>¥2,400,000</span>
									<span>/¥2,400,000</span>
							{{/bp-layout}}
						{{/if}}
					{{/each}}
				{{/bp-layout}}
				{{!-- {{#each products as |product|}}
					{{#if (bp-eq product.productType 0)}}
						{{#bp-layout main="between" direction="row" classNames="mx-4"}}
							{{#bp-layout local-class="product-icon"}}
								{{bp-icon icon="product"}} {{product.name}}
							{{/bp-layout}}
							{{#bp-layout cross="center" classNames="ml-4"}}
								{{#bp-progress as |p|}}
									{{p.bar value=2400000 maxValue=2400000}}
								{{/bp-progress}}
							{{/bp-layout}}
							{{#bp-layout classNames="mx-4"}}¥2,400,000/¥2,400,000{{/bp-layout}}
						{{/bp-layout}}
					{{/if}}
				{{/each}}		 --}}
			{{/bp-layout}}
		{{/bp-layout}}

		{{#bp-layout local-class="budget" direction="col" classNames="bg-white"}}
			{{#bp-layout direction="row" main="between" local-class="budget-header"}}
				{{#bp-layout tagName="h4" classNames="py-3 pl-3 mb-0" local-class="icon" cross="center"}}
					{{bp-icon icon="target"}}
					药品预算
				{{/bp-layout}}
				{{#bp-layout classNames="py-2" cross="center"}}
					{{#bp-button local-class="active"}}产品预算占比{{/bp-button}}
					{{#bp-button classNames="mr-2"}}代表预算占比{{/bp-button}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction="row" main="center" cross="center"}}
				{{#bp-layout tagName="div" style="width: 128px;height: 128px" }}
					{{!-- {{bp-circle eid="cricleDoubleOne"}} --}}
					{{bp-circle eid="cricleBudget" circleData=circleData circleColor=circleColor}}
				{{/bp-layout}}
				{{!-- {{#bp-layout direction="col" classNames="ml-4"}} 
					{{#bp-layout}}开拓来{{/bp-layout}}
					{{#bp-layout}}威芃可{{/bp-layout}}
					{{#bp-layout}}优派西{{/bp-layout}}
				{{/bp-layout}} --}}
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}

	{{#bp-layout local-class="resource-and-hospital" direction="row" main="center"}}
		{{#bp-layout local-class="resource-list-outer" direction="col" classNames="bg-white mr-4"}}
			{{#bp-layout tagName="h4" cross="center" classNames="ml-4 mb-0"}}分配代表{{/bp-layout}}
			{{#bp-layout local-class="resource-list" direction="col" classNames=""}}
				{{#each resources as |rs|}}
					{{#if (bp-eq curResource.id rs.id)}}
						{{#bp-layout local-class="resource-item active" direction="row" main="between" cross="center" classNames="p-4" click=(action "selectResource" rs)}}
							{{#bp-layout local-class="item-left" direction="row" main="start" cross="center"}}
								<img src={{rs.avatar.img}} alt={{rs.name}}>
								{{rs.name}}
							{{/bp-layout}}
							{{#bp-layout local-class="item-right" direction="row" main="end"}}
								<span local-class="badge" class="px-1">{{bp-icon icon="hospital-sign"}}1</span>
							{{/bp-layout}}
						{{/bp-layout}}
					{{else}}
						{{#bp-layout local-class="resource-item" direction="row" main="between" cross="center" classNames="p-4" click=(action "selectResource" rs)}}
							{{#bp-layout local-class="item-left" direction="row" main="start" cross="center"}}
								<img src={{rs.avatar.img}} alt={{rs.name}}>
								{{rs.name}}
							{{/bp-layout}}
							{{#bp-layout local-class="item-right" direction="row" main="end"}}
								<span local-class="badge" class="px-1">{{bp-icon icon="hospital-sign"}}1</span>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/if}}
					
				{{/each}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout local-class="hospital-list" direction="col"}}
			{{#bp-layout local-class="hospital-header" direction="row" main="between" classNames="bg-white mb-1" cross="center"}}
				{{#bp-layout tagName="h4" cross="center" classNames="mb-0 pl-4"}}分配医院资源{{/bp-layout}}
				{{!-- {{#bp-layout}}
					{{#bp-button classNames="mr-1" local-class="active"}}全部{{/bp-button}}
					{{#bp-button classNames="mr-1" local-class="mid-btn"}}已分配{{/bp-button}}
					{{#bp-button classNames="mr-4"}}未分配{{/bp-button}}
				{{/bp-layout}} --}}
			{{/bp-layout}}

			{{#bp-layout classNames="" local-class="hospital-config"}}
				{{#project/business-input/input-mapping project=project presets=presets answers=answers as |quizs|}}
					{{#bp-layout local-class="hospitals"}}
						{{#bp-layout direction="col" local-class="hospital" class="mb-2"}}
							{{#each quizs as |quiz|}}
								{{#bp-layout local-class="line"}}
									{{project/business-input/hospital-config
												proposal=project.proposal
												hospital=quiz.hospital
												validation=validation
												quizs=quiz.quizs
												resources=resources
												answers=answers
												visitTimeValidationOuter=(action "visitTimeValidationHandle")
												meetingPlacesValidationOuter=(action "meetingPlacesValidationHandle")
												salesTargetValidationOuter=(action "salesTargetValidationHandle")
												budgetValidationOuter=(action "budgetValidationHandle")}}
									{{/bp-layout}}
					{{/each}}
				{{/bp-layout}}
				{{/bp-layout}}
				{{/project/business-input/input-mapping}}
			{{/bp-layout}}
		
		{{/bp-layout}}
	{{/bp-layout}}

	{{!-- old part --}}
	{{!-- {{#bp-layout main="between" local-class="overviews" classNames="mb-4"}}
		<div local-class="item">
			{{#bp-layout tagName="h2" cross="center" classNames="m-0 px-4" local-class="title"}}
				{{t "project.business-input.total-business-indicators"}}
			{{/bp-layout}}
			<div class="p-4">
				<p local-class="m-name" class="mb-3 ">	
					{{currentName}}
				</p>
				<p local-class="info" class="mb-3">
					{{t "project.business-input.money"}}
					{{format-number currentSalesTarget}} /
					{{t "project.business-input.money"}}
					{{format-number project.proposal.quota.totalQuotas}}
				</p>
				{{#bp-progress local-class="progress" as |p|}}
					{{p.bar value=currentSalesTarget maxValue=project.proposal.quota.totalQuotas}}
				{{/bp-progress}}
			</div>
		</div>
		<div local-class="item" class="mx-2">
			{{#bp-layout tagName="h2" cross="center" classNames="m-0 px-4" local-class="title"}}
				{{t "project.business-input.total-budget"}}
			{{/bp-layout}}
			<div class="p-4">
				<p local-class="m-name" class="mb-3 ">{{currentName}}</p>
				<p local-class="info" class="mb-3">
					{{t "project.business-input.money"}}
					{{format-number (mut currentBudget)}} /
					{{t "project.business-input.money"}}
					{{format-number project.proposal.quota.totalBudget}}
				</p>
				{{#bp-progress as |p|}}
					{{p.bar value=currentBudget maxValue=project.proposal.quota.totalBudget}}
				{{/bp-progress}}
			</div>
		</div>
		<div local-class="item" class="mx-2">
			{{#bp-layout tagName="h2" cross="center" 
				classNames="m-0 px-4" local-class="title"}}
				{{t "project.business-input.represents-remaining-time"}}
			{{/bp-layout}}
			{{#bp-layout main="between" wrap=true classNames="p-4"}}
				{{#each resources as |rs|}}
					<p local-class="rest-time">
						<span local-class="keys" class="mr-2">
							{{rs.name}}
						</span>
						<span local-class="values">
							
							{{#each answers as answer}}
								{{#if (bp-eq answer.resource rs) }}
									{{action "calculateVisitTime" rs.answer.visitTime}}
								{{/if}}
							{{/each}}
							{{format-number allVisitTime}}
							{{t "project.business-input.p"}}
							
						</span>
					</p>
				{{/each}}
			{{/bp-layout}}
		</div>
		<div local-class="item">
			{{#bp-layout tagName="h2" cross="center" 
				classNames="m-0 px-4" local-class="title"}}
				{{t "project.business-input.total-meeting-places"}}
			{{/bp-layout}}
			<div class="px-4 pt-4">
				<p local-class="m-name" class="mb-3 ">&nbsp;</p>
				<p local-class="info" class="mb-4">
					{{format-number currentMeetingPlaces}} /
					{{format-number project.proposal.quota.meetingPlaces}}
					<span local-class="unit">
						{{t "project.business-input.number"}}
					</span>
				</p>
				{{#bp-progress as |p|}}
					{{p.bar value=currentMeetingPlaces maxValue=project.proposal.quota.meetingPlaces}}
				{{/bp-progress}}
			</div>
		</div>
	{{/bp-layout}} --}}

	{{!-- {{#project/business-input/input-mapping project=project presets=presets answers=answers as |quizs|}}
	{{#bp-layout local-class="hospitals"}} --}}
		{{!-- {{#bp-layout direction="col" local-class="hospitals-configs" classNames="mr-4 px-4 bg-white"}} --}}
			{{!-- {{#bp-layout tagName="h3" cross="center" main="between"local-class="title" classNames="m-0"}}
				<span>
					{{t "project.business-input.target-hospital-selection"}}
					{{hospitals.length}}
					{{t "project.business-input.target-hospital-selection-2"}}
				</span>
				{{#bp-dropdown widthSize="auto" local-class="dd-hosp" as |dd|}}
					{{#dd.button type="link-subtle" }}
						{{t "project.business-input.please-choose"}}
						{{bp-icon icon="down"}}
					{{/dd.button}}
					{{#dd.menu as |menu|}}
						{{#each hospitalState as |hs|}}
							{{#menu.option value=hs onClick=(action (mut currentHospState))}}
							{{hs.name}}
							{{/menu.option}}
						{{/each}}
					{{/dd.menu}}
				{{/bp-dropdown}}
			{{/bp-layout}} --}}
			{{!-- {{#each quizs as |quiz|}}
				{{project/business-input/hospital-overall quiz=quiz}}
			{{/each}} --}}
		{{!-- {{/bp-layout}} --}}
		{{!-- {{#bp-layout direction="col" local-class="hospital" class="mb-2"}}
			{{#each quizs as |quiz|}}
				{{project/business-input/hospital-config
					proposal=project.proposal
					hospital=quiz.hospital
					validation=validation
					quizs=quiz.quizs
					resources=resources
					answers=answers
					visitTimeValidationOuter=(action "visitTimeValidationHandle")
					meetingPlacesValidationOuter=(action "meetingPlacesValidationHandle")
					salesTargetValidationOuter=(action "salesTargetValidationHandle")
					budgetValidationOuter=(action "budgetValidationHandle")}}
			{{/each}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{/project/business-input/input-mapping}} --}}
{{/bp-layout}}

{{#bp-modal
		open=warning.open 
		position="center"
		onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
			{{warning.title}}
		</h4>
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="desc m-0">
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="primary" onClick=(action modal.close)}}{{t "project.business-input.OK"}}{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}

{{yield}}