{{#bp-layout tagName="h3" cross="center" local-class="title" class="px-4" }}
	<span class="mr-2" local-class="icon" {{action 'showContent'}}>
		{{bp-icon icon=icon}}
	</span>
	{{representative.representativeConfig.representative.name}}
{{/bp-layout}}
{{#if showContent}}
	{{#bp-layout local-class="content"}}
		{{#bp-layout direction="col" local-class="basic-infos" classNames="p-4"}}
			{{#bp-layout local-class="rep"}}
				{{#each representative.representativeConfig.representative.images as |avatar index|}}
					{{#if (bp-eq index 0)}}
						<img src={{avatar.img}} alt={{representative.representativeConfig.representative.name}}>
					{{/if}}
				{{/each}}
				{{#bp-layout direction="col" local-class="infos"
					classNames="ml-4"}}
					<h4 local-class="title" class="mb-4">
						{{representative.representativeConfig.representative.name}}
					</h4>
					<p local-class="properties" class="m-0">
						{{#if (bp-eq representative.representativeConfig.representative.gender 0)}}
							女
						{{else}}
							男
						{{/if}}
						<span class="ml-2">{{representative.representativeConfig.age}}岁</span>
					</p>
					{{#bp-layout tagName="p" local-class="properties" classNames="mb-4"}}
						<span class="border-right pr-1">{{representative.representativeConfig.education}}</span>
						<span class="border-right px-1">{{representative.representativeConfig.professional}}</span>
						<span class="border-right px-1">{{representative.representativeConfig.experience}}年工作经验</span>
						<span class="pl-1">入职{{representative.representativeConfig.jobEnthusiasm}}年</span>
					{{/bp-layout}}
					{{#bp-layout }}
						{{#bp-layout direction="col"}}
							<span local-class="keys" class="mb-3">优势</span>
							<span local-class="keys">历届经理评价</span>
						{{/bp-layout}}
						{{#bp-layout direction="col" classNames="ml-3"}}
							<span local-class="values" class="mb-3">客户关系 学习能力 幻灯演讲*</span>
							<span local-class="values">代表很棒棒*</span>
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction="col" local-class="kpi-content" classNames="mt-4"}}
				<h4 local-class="title" class="mb-4">代表行为KPI
					<span local-class="subtitle" class="ml-2">2019年第一季度*</span>
				</h4>
				{{#bp-layout main="between" local-class="kpis"}}
					{{#bp-layout direction="col"}}
						<span local-class="keys-large" class="mb-2">80*</span>
						<span local-class="values-small">目标医生</span>
						<span local-class="values-small">数量(人)</span>
					{{/bp-layout}}
					{{#bp-layout direction="col"}}
						<span local-class="keys-large" class="mb-2">80*</span>
						<span local-class="values-small">目标医生</span>
						<span local-class="values-small">覆盖率(%)</span>
					{{/bp-layout}}
					{{#bp-layout direction="col"}}
						<span local-class="keys-large" class="mb-2">80*</span>
						<span local-class="values-small">A类医生</span>
						<span local-class="values-small">拜访频率(次)</span>
					{{/bp-layout}}
					{{#bp-layout direction="col"}}
						<span local-class="keys-large" class="mb-2">80*</span>
						<span local-class="values-small">B类医生</span>
						<span local-class="values-small">拜访频率(次)</span>
					{{/bp-layout}}
					{{#bp-layout direction="col"}}
						<span local-class="keys-large" class="mb-2">80*</span>
						<span local-class="values-small">C类医生</span>
						<span local-class="values-small">拜访频率(次)</span>
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout main="center" local-class="chart"}}
			{{bp-radar}}
		{{/bp-layout}}
	{{/bp-layout}}
{{/if}}