<h3 class="mb-2">{{proposal.name}}</h3>
<p local-class="phase" class="mb-4">
	{{!-- {{#if (bp-gt proposal.totalPhase 2)}} --}}
		{{t "mission-info.total"}}{{proposal.totalPhase}}{{t "mission-info.period"}}
	{{!-- {{/if}} --}}
</p>
{{!-- {{mission-state useableProposalPaper.state}} --}}