{{#bp-layout local-class="page-mission"}}
	{{#bp-layout wrap=true multi="start" local-class="mission-list" classNames="p-4"}}
		{{#each model.usableProposals as |usableProposal|}}
			{{welcome/mission-info
				local-class="choosed"
				proposal=usableProposal.proposal
				onClick=(action "enterNewProjectWithProposal" usableProposal.proposal)}}
		{{else}}
			<p>{{t "welcome.no-task"}}</p>
		{{/each}}
		{{#each model.currentProjects as |currentProject|}}
			{{welcome/historical-info
				local-class="choosed"
				project=currentProject
				onClick=(action "enterNewProjectWithProject" currentProject)}}
		{{else}}
			<p>{{t "welcome.no-task"}}</p>
		{{/each}}
	{{/bp-layout}}
	{{!-- {{#if (bp-eq model.proposals.length 0)}} --}}
	{{!-- {{#bp-layout direction="col" local-class="mission-desc" classNames="p-4"}} --}}
	{{!-- {{t "welcome.no-task"}} --}}
	{{!-- {{/bp-layout}} --}}
	{{!-- {{else}} --}}
	{{#bp-layout direction="col" local-class="mission-desc" classNames="p-4"}}
		{{#if (bp-eq lastSelectedCat 0)}}
			{{#bp-layout main="between" cross="center"  classNames="mb-4"}}
				{{welcome/mission-state 0}}
				{{!-- {{welcome/show-endtime model.detailPaper}} --}}
			{{/bp-layout}}
		{{else}}
			{{#bp-layout main="between" cross="center"  classNames="mb-4"}}
				{{welcome/mission-state 3}}
				{{!-- {{welcome/show-endtime model.detailPaper}} --}}
			{{/bp-layout}}
		{{/if}}
		<h3 class="mt-3 mb-4">
			{{currentProposal.name}}
		</h3>
		{{#if (bp-not-eq currentProposal.totalPhase 1)}}
			<p local-class="phase" class="mb-4">
				<span>{{t "welcome.session-1"}}</span>
				<span>{{t "welcome.total"}}{{currentProposal.totalPhase}}{{t "welcome.peroid"}}</span>
			</p>
		{{/if}}
		<p local-class="desc" class="mb-4">
			{{currentProposal.describe }}
		</p>
		{{#bp-layout main="end" local-class="start" classNames="mb-4"}}
			{{!-- {{#bp-button type="primary" tagName="span" onClick=(action "startDeploy" model.detailProposal.proposal.id)}}
			开始部署
		{{/bp-button}} --}}
			{{#if (bp-eq model.detailPaper.state 1)}}
				{{#bp-button tagName="span" classNames="mr-1" onClick=(action (mut reDeploy) true)}}
					{{t "welcome.redeployment"}}
				{{/bp-button}}
				{{#bp-button type="primary" tagName="span" onClick=(action "startDeploy" model.detailProposal.proposal.id)}}
					{{t "welcome.continue-deployment"}}
				{{/bp-button}}
			{{else}}
				{{#bp-button type="primary" tagName="span" 
				onClick=(action "startDeploy" model.detailProposal.proposal.id)}}
					{{t "welcome.start-deployment"}}
				{{/bp-button}}
			{{/if}}
		{{/bp-layout}}
		<div class="dropdown-divider mt-3 mb-4"></div>
		{{#bp-layout tagName="h4" main="between" classNames="m-0"}}
			<span local-class="title">{{t "welcome.historical-evaluation-report"}}</span>
			{{#if (bp-gt model.detailPaper.assessmentReports.length 0)}}
				<span local-class="times">{{t "welcome.total-finish"}}{{model.detailPaper.assessmentReports.length}}{{t "welcome.times"}}</span>
			{{/if}}
		{{/bp-layout}}
		{{#each model.historicalProjects as |project index|}}
			{{#bp-layout tagName="p" main="between" cross="center" 
				local-class="historp-report"
			classNames=(if (bp-eq index 0) "mt-4 mb-0 px-2 py-3" "m-0 px-2 py-3")}}
				{{#bp-layout tagName="span" local-class="infos"}}
					<span class="mr-3">{{bp-increment-property index}}</span>
					<span class="mr-4"> <span local-class="level" class="mr-1">{{t "welcome.s"}}</span>{{t "welcome.grade"}}</span>
					<span>{{bp-string-slice assessmentReport.time 0}}</span>
				{{/bp-layout}}
				{{!-- {{#bp-button type="linkTo" tagName="span" 
					onClick=(action "checkReport" assessmentReport)}}
					查看
				{{/bp-button}} --}}
				{{#link-to "page-report" assessmentReport}}
					{{t "welcome.examine"}}
				{{/link-to}}
			{{/bp-layout}}
		{{else}}
			<p class="mt-2">{{t "welcome.task-not-completed"}}</p>
			{{!-- {{#if testBtn}}
				<p>{{#link-to "page.project"}}
						project page
					{{/link-to}}
				</p>
			{{/if}} --}}
		{{/each}}
	{{/bp-layout}}
	{{!-- {{/if}} --}}
{{/bp-layout}}
{{!-- {{#bp-modal
		open=notice 
		position="center"
		onSubmit=(action "submit") 
		onHidden=(action (mut notice) false) as |modal|}}
	{{#modal.header closeButton=false classNames="p-4"}}
		欢迎进入铁马区域管理模拟平台
	{{/modal.header}}
	{{#modal.body classNames="px-4 pt-0"}}
		{{detail}}
	{{/modal.body}}
	{{#bp-layout main="between" classNames="px-4"}}
		<p>
			{{#choose-group type="checkbox" onChange=(action "chooseItem") as |choose|}}
				{{#each neverShow as |radio|}}
					{{choose.item radio=radio}}
				{{/each}}
			{{/choose-group}}
		</p>
		<p>
			{{#bp-button type="link" onClick=(action modal.close)}}跳过{{/bp-button}}
			{{#if (bp-eq step 3)}}
				{{#bp-button onClick=(action "prevStep")}}上一步{{/bp-button}}
				{{#bp-button type="primary" onClick=(action modal.close)}}开始{{/bp-button}}
			{{else if (bp-eq step 2)}}
				{{#bp-button onClick=(action "prevStep")}}上一步{{/bp-button}}
				{{#bp-button type="primary" onClick=(action modal.submit)}}下一步({{step}}/3){{/bp-button}}
			{{else}}
				{{#bp-button type="primary" onClick=(action modal.submit)}}下一步({{step}}/3){{/bp-button}}
			{{/if}}
		</p>
	{{/bp-layout}}
{{/bp-modal}} --}}
{{#bp-modal
		open=notice 
		position="center"
		onHidden=(action (mut notice) false) as |modal|}}
	{{#modal.header closeButton=false classNames="p-4"}}
		{{t "welcome.welcome-model.line-1"}}
	{{/modal.header}}
	{{#modal.body classNames="px-4 pt-0"}}
		<p class="desc mb-4">
			{{t "welcome.welcome-model.line-2"}}
		</p>
	{{/modal.body}}
	{{#bp-layout main="between" classNames="px-4"}}
		<p>
			{{#choose-group type="checkbox" onChange=(action "chooseItem") as |choose|}}
				{{#each neverShow as |radio|}}
					{{choose.item radio=radio}}
				{{/each}}
			{{/choose-group}}
		</p>
		<p>
			{{#bp-button type="primary" onClick=(action modal.close)}}{{t "welcome.welcome-model.confirm-btn"}}{{/bp-button}}
		</p>
	{{/bp-layout}}
{{/bp-modal}}
{{#bp-modal
		open=reDeploy 
		position="center"
		onHidden=(action (mut reDeploy) false) as |modal|}}
	{{#modal.header closeButton=false}}
		<h4 class="modal-title">
			{{t "welcome.redeployment"}}
		</h4>
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="desc">
			{{t "welcome.check-model.desc-content"}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="link" onClick=(action modal.close)}}{{t "welcome.check-model.cancel-btn"}}{{/bp-button}}
		{{#bp-button type="primary" onClick=(action "reDeploy")}}{{t "welcome.redeployment"}}{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}