{{#bp-layout local-class="historical-sales-container"}}
	{{#bp-layout tagName="ul" direction="col" local-class="nav" 
				classNames="mr-4 p-4 bg-white"}}
		{{#bp-layout tagName="li" cross="center" 
					local-class=(if (bp-eq salesGroupValue 0) "active")
					classNames="px-4"}}
			<span {{action "changeSalesValue" 0}} role="button">{{t "project.proposal-info.product-info.produce-sale-report"}}</span>
		{{/bp-layout}}
		{{#bp-layout tagName="li" cross="center" 
					local-class=(if (bp-eq salesGroupValue 1) "active")
					classNames="px-4"}}
			<span {{action "changeSalesValue" 1}} role="button">{{t "project.proposal-info.product-info.representative-sale-report"}}</span>
		{{/bp-layout}}
		{{#bp-layout tagName="li" cross="center" 
					local-class=(if (bp-eq salesGroupValue 2) "active")
					classNames="px-4"}}
			<span {{action "changeSalesValue" 2}} role="button">{{t "project.proposal-info.product-info.hospital-sale-report"}}</span>
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout local-class="content"}}
		{{#if (bp-eq salesGroupValue 0)}}
			<div local-class="report product">
				{{#bp-layout tagName="h2" cross="center" local-class="title"
				 classNames="m-0 bg-white px-4"}}
					{{t "project.proposal-info.product-info.produce-sale-report"}}
				{{/bp-layout}}
				{{#bp-layout direction="col"}}
					{{!-- {{#bp-layout main="between" local-class="choose-container"
						classNames="mb-4 bg-white"}}
						{{#bp-layout main="between" cross="center"
							local-class="choose-area" 
							classNames="px-4"}}
							<span local-class="keys" class="mr-4">选择药品</span>
							{{#bp-dropdown widthSize="auto"
								local-class="dd-medicines dd-area" as |dd|}}
								{{#dd.button}}
									{{#if tmpPsr.id}}
										<p>{{tmpPsr.productName}}</p>
									{{else}}
										全部选择
									{{/if}}
									{{bp-icon icon="down"}}
								{{/dd.button}}
								{{#dd.menu as |menu|}}
									{{#menu.option value=totalProduct
												onClick=(action (mut tmpPsr))}}
										全部选择
									{{/menu.option}}
									{{#each model.productSalesReports as |psrs|}}
										{{#menu.option value=psrs
												onClick=(action (mut tmpPsr))}}
											{{psrs.productName}}
										{{/menu.option}}
									{{/each}}
								{{/dd.menu}}
							{{/bp-dropdown}}
						{{/bp-layout}}
						<div local-class="choose-area" class="px-4"></div>
					{{/bp-layout}} --}}
					<div local-class="table-container">
						<table class="table">
							<thead>
								<th>{{t "project.proposal-info.product-info.drug-name"}}</th>
								{{#each tableHead as |tcontent|}}
									<th>{{tcontent}}</th>
								{{/each}}
							</thead>
							<tbody class="bg-white">
								{{#each model.prodTableBody as |trContent|}}
									{{#if (bp-eq trContent.goodsConfig.productConfig.productType 0)}}
										<tr>
											<td>
												{{trContent.goodsConfig.productConfig.product.name}}
											</td>
											{{#each trContent.tableTr as |tdContent|}}
												{{!-- <td>￥{{format-number tdContent}}</td> --}}
												{{#if (type-number tdContent)}}
													<td>{{t "project.proposal-info.product-info.money"}}{{format-number tdContent 0}}</td>
												{{else}}
													<td>{{tdContent}}</td>
												{{/if}}
											{{/each}}
										</tr>
									{{/if}}
									{{!-- {{#if (bp-not-eq tmpPsr.productName undefined "全部选择")}}
										{{#if (bp-eq tmpPsr.productName trContent.name)}}
											<tr>
												<td>{{trContent.name}}</td>
												{{#each trContent.tableTr as |tdContent|}}
													<td>￥{{format-number tdContent}}</td>
												{{/each}}
											</tr>
										{{/if}}
									{{else}}
										<tr>
											<td>{{trContent.name}}</td>
											{{#each trContent.tableTr as |tdContent|}}
												<td>￥{{format-number tdContent}}</td>
											{{/each}}
										</tr>
									{{/if}} --}}
								{{/each}}
							</tbody>
						</table>
					</div>
				{{/bp-layout}}
			</div>
		{{else if (bp-eq salesGroupValue 1)}}
			<div local-class="report representative">
				{{#bp-layout tagName="h2" cross="center" local-class="title"
				 classNames="m-0 bg-white px-4"}}
					{{t "project.proposal-info.product-info.representative-sale-report"}}
				{{/bp-layout}}
				{{#bp-layout direction="col" local-class="table-container" classNames="bg-white"}}
					<table class="table">
						<thead>
							<th>{{t "project.proposal-info.product-info.representative-name"}}</th>
							<th>{{t "project.proposal-info.product-info.potential"}}</th>
							{{#each tableHead as |thContent|}}
								<th>{{thContent}}</th>
							{{/each}}
						</thead>
						<tbody>
							{{#each model.repTableBody as |trContent|}}
								<tr>
									<td>
										{{trContent.resourceConfig.representativeConfig.representative.name}}
									</td>
									<td>{{t "project.proposal-info.product-info.money"}}{{format-number trContent.potential}}</td>
									{{#each trContent.tableTr as |tdContent|}}
										{{#if (type-number tdContent)}}
											<td>{{t "project.proposal-info.product-info.money"}}{{format-number tdContent 0}}</td>
										{{else}}
											<td>{{tdContent}}</td>
										{{/if}}
									{{/each}}
								</tr>
							{{/each}}
						</tbody>
					</table>
				{{/bp-layout}}
			</div>
		{{else}}
			<div local-class="report hospital">
				{{#bp-layout tagName="h2" cross="center" local-class="title"
				 classNames="m-0 bg-white px-4"}}
					{{t "project.proposal-info.product-info.hospital-sale-report"}}
				{{/bp-layout}}
				{{#bp-layout direction="col" local-class="table-container" classNames="bg-white"}}
					<table class="table">
						<thead>
							<th>{{t "project.proposal-info.product-info.hospital-name"}}</th>
							<th>{{t "project.proposal-info.product-info.hospital-representative"}}</th>
							<th>{{t "project.proposal-info.product-info.potential"}}</th>
							{{#each tableHead as |tcontent|}}
								<th>{{tcontent}}</th>
							{{/each}}
						</thead>
						<tbody>
							{{#each model.hospTableBody as |trContent|}}
								<tr>
									<td>
										{{trContent.destConfig.hospitalConfig.hospital.name}}
									</td>
									<td>
										{{trContent.resourceConfig.representativeConfig.representative.name}}
									</td>
									<td>{{t "project.proposal-info.product-info.money"}}{{format-number trContent.potential}}</td>
									{{#each trContent.tableTr as |tdContent|}}
										{{#if (type-number tdContent)}}
											<td>{{t "project.proposal-info.product-info.money"}}{{format-number tdContent 0}}</td>
										{{else}}
											<td>{{tdContent}}</td>
										{{/if}}
									{{/each}}
								</tr>
							{{/each}}
						</tbody>
					</table>
				{{/bp-layout}}
			</div>
		{{/if}}
	{{/bp-layout}}
{{/bp-layout}}