{{#bp-layout tagName="h3" cross="center" local-class="title" class="px-4" }}
	<span class="mr-2" local-class="icon" {{action "showContent"}} role="button">
		{{bp-icon icon=icon}}
	</span>
	{{resource.name}}
{{/bp-layout}}
{{#bs-collapse collapsed=showContent}}
	{{#bp-layout local-class="content"}}
		{{#bp-layout direction="col" local-class="basic-infos" classNames="p-4"}}
			{{#bp-layout local-class="rep"}}
				{{!-- {{#each resource.avatar as |avatar index|}}
					{{#if (bp-eq index 0)}}
						<img src={{avatar.img}} alt={{resource.name}}>
					{{/if}}
				{{/each}} --}}
				<img src={{resource.avatar.img}} alt={{resource.name}}>
				{{#bp-layout direction="col" local-class="infos"
					classNames="ml-4"}}
					<h4 local-class="title" class="mb-4">
						{{resource.name}}
					</h4>
					<p local-class="properties" class="m-0">
						{{#if (bp-eq resource.gender 0)}}
							{{t "card.member-card.female"}}
						{{else}}
							{{t "card.member-card.male"}}
						{{/if}}
						<span class="ml-2">{{resource.age}}{{t "card.member-card.age"}}</span>
					</p>
					{{#bp-layout tagName="p" local-class="properties" classNames="mb-4"}}
						<span class="border-right pr-1">{{resource.education}}</span>
						<span class="border-right px-1">{{resource.professional}}</span>
						<span class="border-right px-1">{{resource.experience}}{{t "card.member-card.experience"}}</span>
						<span class="pl-1">{{t "card.member-card.entry-time"}}{{resource.entryTime}}{{t "card.member-card.year"}}</span>
					{{/bp-layout}}
					{{#bp-layout }}
						{{#bp-layout direction="col"}}
							<span local-class="keys" class="mb-3">{{t "card.member-card.advantage"}}</span>
							<span local-class="keys">{{t "card.member-card.evaluation"}}</span>
						{{/bp-layout}}
						{{#bp-layout direction="col" classNames="ml-3"}}
							<span local-class="values" class="mb-3">
								{{resource.advantage}}
							</span>
							<span local-class="values">
								{{resource.evaluation}}
							</span>
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction="col" local-class="kpi-content" classNames="mt-4"}}
				<h4 local-class="title" class="mb-4">
					{{t "card.member-card.KPI"}}
					{{!-- <span local-class="subtitle" class="ml-2">{{lastPersonnelAssessment.scenario.name}}</span> --}}
				</h4>
				{{#bp-layout main="between" local-class="kpis"}}
					{{#bp-layout direction="col"}}
						<span local-class="keys-large" class="mb-2">
							{{!-- {{#each lastPersonnelAssessment.actionKpis as |kpi|}}
								{{#if (bp-eq resource.id kpi.representative.id)}}
									{{format-number kpi.targetNumber}}
								{{/if}}
							{{/each}} --}}
						</span>
						<span local-class="values-small">{{t "card.member-card.goal-docter"}}</span>
						<span local-class="values-small">{{t "card.member-card.people-number"}}</span>
					{{/bp-layout}}
					{{#bp-layout direction="col"}}
						<span local-class="keys-large" class="mb-2">
							{{!-- {{#each lastPersonnelAssessment.actionKpis as |kpi|}}
								{{#if (bp-eq resource.id kpi.representative.id)}}
									{{format-number kpi.targetCoverage}}
								{{/if}}
							{{/each}} --}}
						</span>
						<span local-class="values-small">{{t "card.member-card.goal-docter"}}</span>
						<span local-class="values-small">{{t "card.member-card.coverage"}}</span>
					{{/bp-layout}}
					{{#bp-layout direction="col"}}
						<span local-class="keys-large" class="mb-2">
							{{!-- {{#each lastPersonnelAssessment.actionKpis as |kpi|}}
								{{#if (bp-eq resource.id kpi.representative.id)}}
									{{format-number kpi.highLevelFrequency}}
								{{/if}}
							{{/each}} --}}
						</span>
						<span local-class="values-small">{{t "card.member-card.docter-A"}}</span>
						<span local-class="values-small">{{t "card.member-card.visit-frequency"}}</span>
					{{/bp-layout}}
					{{#bp-layout direction="col"}}
						<span local-class="keys-large" class="mb-2">
							{{!-- {{#each lastPersonnelAssessment.actionKpis as |kpi|}}
								{{#if (bp-eq resource.id kpi.representative.id)}}
									{{format-number kpi.middleLevelFrequency}}
								{{/if}}
							{{/each}} --}}
						</span>
						<span local-class="values-small">{{t "card.member-card.docter-B"}}</span>
						<span local-class="values-small">{{t "card.member-card.visit-frequency"}}</span>
					{{/bp-layout}}
					{{#bp-layout direction="col"}}
						<span local-class="keys-large" class="mb-2">
							{{!-- {{#each lastPersonnelAssessment.actionKpis as |kpi|}}
								{{#if (bp-eq resource.id kpi.representative.id)}}
									{{format-number kpi.lowLevelFrequency}}
								{{/if}}
							{{/each}} --}}
						</span>
						<span local-class="values-small">{{t "card.member-card.docter-C"}}</span>
						<span local-class="values-small">{{t "card.member-card.visit-frequency"}}</span>
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout main="center" local-class="chart"}}
			{{!-- {{bp-radar
				eid=(string-concat "radarRepresentative" index)
				radarData=radarData
				maxValue=10}} --}}
			{{!-- {{bp-radar
				radarData=radarData}} --}}
		{{/bp-layout}}
	{{/bp-layout}}
{{/bs-collapse}}