{{#bp-layout local-class="history-table-outer"}}
	{{#if (bp-eq provious.length 0)}}
		{{#bp-layout local-class="empty-img" direction="col" cross="center"}}
			<img src="/images/img_history-empty.png" alt="" class="mb-3">
			还没有完成过该任务
		{{/bp-layout}}
	{{else}}
	
	<table local-class="history-table" class="table mb-2">
		<thead class='px-0'>
			<tr>
				{{#if (bp-eq provious.firstObject.proposal.case "tm")}}
				<th class="border-0 pb-2 pr-2 pl-0 text-left">获得称号</th>
				{{/if}}
				<th class="border-0 pb-2 px-0 text-left">总指标达成率</th>
				<th class="border-0 pb-2 px-0 text-right">总销售额</th>
				<th local-class="blank-part" class="border-0"></th>
				{{#if (bp-eq provious.firstObject.proposal.case "tm")}}
				<th class="border-0 pb-2 px-0 text-center">分季度销售指标达成率</th>
				{{/if}}
				<th class="border-0 pb-2 px-0 text-left ">完成用时</th>
				<th class="border-0 pb-2 pl-2 text-center ">完成时间</th>
				<th class="border-0" local-class="fix-width"></th>
				<th class="border-0" local-class="fix-width"></th>
			</tr>
		</thead>
		<tbody class="">
			{{#each proviousReport as |pr|}}
			<tr class="mx-0 mx-4">
				{{#if (bp-eq provious.firstObject.proposal.case "tm")}}
				<td class="pl-0 border-0 text-left"  local-class="flex-1">
					{{#bp-layout direction="row" main="start" cross="center" local-class="level"}}
						<img src="/images/img_placeholder.png" alt="level" local-class="level-img">
						<p local-class="des">黄金</p>
					{{/bp-layout}}
				</td>
				{{/if}}
				<td class="px-0 border-0 text-left" local-class="flex-1">
					{{#bp-layout direction="row" main="start" cross="center" local-class=(if (bp-eq roundOver "true")  "total-percent-round" "total-percent") }}
						<p local-class="num">{{calc-quota-achv pr.reports}}</p>
						<p local-class="unit">%</p>
					{{/bp-layout}}
				</td>
				<td class="border-0 text-right px-0" local-class="flex-1">
					{{#bp-layout local-class="total-sales" main="end" direction="row"}}
							￥{{calc-total-sales pr.reports}}
					{{/bp-layout}}
				</td>
				<td local-class="blank-part" class="border-0"></td>
				{{#if (bp-eq provious.firstObject.proposal.case "tm")}}
				<td class="border-0 text-center" local-class="flex-1">
					{{#bp-layout direction="row" local-class="quarter-sales-reached" main="between"}}
						{{#bp-layout direction="col" local-class="info"}}
							<span>2019Q1</span>
							<span>60%</span>
						{{/bp-layout}}
						{{#bp-layout direction="col" local-class="info"}}
							<span>2019Q1</span>
							<span>60%</span>
						{{/bp-layout}}
						{{#bp-layout direction="col" local-class="info"}}
							<span>2019Q1</span>
							<span>60%</span>
						{{/bp-layout}}
					{{/bp-layout}}
				</td>
				{{/if}}
				<td class="border-0 text-left px-0" local-class="flex-1">
					{{#bp-layout local-class="used-time" main="start" direction="row"}}
							{{!-- 1小时30分钟 --}}
							{{time-difference pr.project.startTime pr.project.endTime}}
					{{/bp-layout}}
				</td>
				<td class="border-0 text-center px-0" local-class="flex-1">
					{{#bp-layout local-class="end-time" main="center" direction="row"}}
							{{!-- 2019-04-08 18:40 --}}
							{{format-date-standard pr.project.endTime}}
					{{/bp-layout}}
				</td>

				{{!-- {{#bp-layout direction="row" local-class="fix-click-part"}} --}}
				<td class="px-0 border-0 text-center px-0" local-class="fix-click-part" style="width: 138px;">
					
					{{#if (bp-eq provious.firstObject.proposal.case "tm")}}
					{{#bp-layout direction="row"}}
						{{#bp-dropdown local-class="btn-list" widthSize="auto" as |dd|}}
							{{#dd.button }}
								查看
								{{bp-icon icon='down'}}
							{{/dd.button}}
							{{#dd.menu as |menu|}}
								{{#menu.option click=(action "performance")}}测试综合表现{{/menu.option}}
								{{#menu.option }}周期销售结果{{/menu.option}}
								{{!-- {{#menu.option click=(action "review" provious.lastObject.id)}}决策回顾{{/menu.option}} --}}
								{{#menu.option }}决策回顾{{/menu.option}}
							{{/dd.menu}}
						{{/bp-dropdown}}
					{{/bp-layout}}
					{{else if (bp-eq provious.firstObject.proposal.case "ucb")}}
					{{#bp-layout direction="row" click=(action "toReport" pr.project) local-class="report-link" main="center"}}
							周期销售报告
					{{/bp-layout}}
						{{!-- {{#link-to "page.project.result" pr.project.id}}周期销售报告{{/link-to}} --}}
					{{/if}}
				</td>
				{{!-- <td class="px-0 border-0 text-center px-0" local-class="fix-click-part" style="width: 138px;">
					{{#bp-button click=(action "exportInput" pr.project)}}
						{{bp-icon icon="export" local-class="icon"}}导出输入
					{{/bp-button}}
				</td> --}}
				<td class="px-0 border-0 text-center px-0" local-class="fix-click-part" style="width: 138px;">
					
					{{#if (bp-eq provious.firstObject.proposal.case "tm")}}
						{{#bp-layout direction="row" }}
							{{#bp-dropdown local-class="btn-list" widthSize="auto" as |dd|}}
								{{#dd.button }}
									导出
									{{bp-icon icon='down'}}
								{{/dd.button}}
								{{#dd.menu as |menu|}}
									{{#menu.option}}测试综合表现{{/menu.option}}
									{{#menu.option}}周期销售结果{{/menu.option}}
									{{#menu.option}}决策回顾{{/menu.option}}
								{{/dd.menu}}
							{{/bp-dropdown}}
						{{/bp-layout}}
					{{else if (bp-eq provious.firstObject.proposal.case "ucb")}}
					{{#bp-dropdown local-class="btn-list" widthSize="auto" as |dd|}}
						{{#dd.button }}
							导出
							{{bp-icon icon='down'}}
						{{/dd.button}}
						{{#dd.menu as |menu|}}
							{{#menu.option click=(action "exportInput" pr.project)}}导出输入{{/menu.option}}
							{{#menu.option click=(action "exportReport" pr.project)}}导出数据{{/menu.option}}
						{{/dd.menu}}
					{{/bp-dropdown}}
						{{!-- {{#bp-button click=(action "exportReport" pr.project)}}
							{{bp-icon icon="export" local-class="icon"}}导出数据
						{{/bp-button}} --}}
					{{/if}}
				</td>
				{{!-- {{/bp-layout}} --}}

			</tr>
			{{/each}}
		</tbody>
	</table>
	{{/if}}
{{/bp-layout}}
{{#bp-modal
        local-class="modal"
        size="lg"
		open=performance.open 
		position="center"
		onHidden=(action (mut performance.open) false) as |modal|}}
	{{#modal.header classNames="pb-0"}}
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		{{project/comprehensive-performance}}
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="primary" onClick=(action modal.close)}}确定{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}
{{log periods}}