{{yield}}
{{#bp-layout direction="row" local-class="nav-top" main="between" cross="center" classNames="px-4 py-3"}}
    {{#bp-layout direction="row" local-class="nav-left" main="start" cross="center" classNames=""}}
        {{bp-icon icon="point"}}
        <img src="/images/logo_tmist.png" alt="logo" local-class="logo" class="pl-4">
        <p local-class="title" class="pl-3">铁马</p>
    {{/bp-layout}}
    {{#bp-layout direction="row" local-class="nav-right" main="start" cross="center" classNames=""}}
        {{bp-icon icon='nav-person'}}
        {{bp-icon icon='notification'}}
        {{!-- {{bp-icon icon='nav-person'}} --}}
        {{#bp-dropdown local-class="btn-list" widthSize="auto" as |dd|}}
            {{#dd.toggle}}
                {{bp-icon icon='nav-person'}}
            {{/dd.toggle}}
            {{#dd.menu as |menu|}}
                {{#menu.option onClick=(action "logOut")}}
                    注销
                {{/menu.option}}
            {{/dd.menu}}
        {{/bp-dropdown}}
    {{/bp-layout}}
{{/bp-layout}}