{{#bp-layout direction="row"  main='between'}}
	{{#bp-layout main='between' cross="center" classNames="bg-white mb-0" local-class="resource-list-outer"}}
		{{!-- {{#if (bp-eq curResource.id resource.id)}} --}}
		{{!-- {{#if (bp-eq showContent false)}} --}}
			{{#bp-layout local-class=(if (bp-eq showContent false) "resource-item active" "resource-item") direction="row" main="between" cross="center" classNames="p-4" click=(action "showContent" resource)}}
				{{#bp-layout local-class="item-left" direction="row" main="start" cross="center"}}
					<img src={{get-oss-pic resource.avatar.img picOSS}} alt={{resource.name}}>
					{{resource.name}}
				{{/bp-layout}}
				{{#bp-layout local-class="item-right" direction="row" main="end"}}
					{{#if (bp-eq project.proposal.case "tm")}}
						{{#if (bp-not-eq leftTime 0 "0")}}
							<span local-class="remain" class="px-1">{{bp-icon icon="time-left"}}剩余{{leftTime}}%</span>
						{{else}}
							<span local-class="badge" class="px-1">{{bp-icon icon="time-left"}}已分配</span>
						{{/if}}
					{{/if}}
					{{#if hospitalNumber}}
						<span local-class="badge hospital-badge" class="px-1">{{bp-icon icon="hospital-sign"}}{{hospitalNumber}}</span>
					{{/if}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{!-- {{else}}
			{{#bp-layout local-class="resource-item" direction="row" main="between" cross="center" classNames="p-4" click=(action "showContent" resource)}}
				{{#bp-layout local-class="item-left" direction="row" main="start" cross="center"}}
					<img src={{get-oss-pic resource.avatar.img picOSS}} alt={{resource.name}}>
					{{resource.name}}
				{{/bp-layout}}
				{{#bp-layout local-class="item-right" direction="row" main="end"}}
				{{#if (bp-eq project.proposal.case "tm")}}
					{{#if (bp-not-eq leftTime 0 "0")}}
						<span local-class="remain" class="px-1">{{bp-icon icon="time-left"}}剩余{{leftTime}}%</span>
					{{else}}
						<span local-class="badge" class="px-1">{{bp-icon icon="time-left"}}已分配</span>
					{{/if}}
				{{/if}}
					{{#if hospitalNumber}}
						<span local-class="badge hospital-badge" class="px-1">{{bp-icon icon="hospital-sign"}}{{hospitalNumber}}</span>
					{{/if}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/if}} --}}
	{{/bp-layout}}
{{/bp-layout}}
{{#if (bp-eq project.proposal.case "tm")}}
{{#bs-collapse collapsed=showContent local-class="wrapper"}}
	{{#bp-layout direction="col" local-class="representative-info" classNames="bg-white ml-2 mb-2 px-3"}}
		{{#bp-layout local-class="remain-time" direction="col" classNames="pb-3"}}
			{{#bp-layout direction="row" main="between"}}
				{{#bp-layout local-class="time"}}剩余时间{{/bp-layout}}
				{{#bp-layout local-class="percent"}}
					<span>{{leftTime}}%</span>
					<span class="mt-1">/100%</span>
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction="row"}} 
				{{#bp-progress as |p|}}
					{{p.bar value=leftTime maxValue=100}}
				{{/bp-progress}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout local-class="resource-hospital" direction="col"}}
			{{#each hospitalList as |hospital|}}
				{{#bp-layout direction="row" cross="center" classNames="mb-3" local-class="hospital-time"}}
					{{#bp-layout local-class="hospital-name"}}{{hospital.target.name}}{{/bp-layout}}
					{{#bp-input widthSize="small" value=hospital.visitTime 
					onChange=(action "inputVisitTime" (mut hospital.visitTime))}}{{/bp-input}}
				{{/bp-layout}}
			{{/each}}
			
			{{!-- {{#bp-layout direction="row" cross="center" classNames="mt-3"}}
				{{#bp-layout local-class="hospital-name" }}积水潭医院{{/bp-layout}}
				{{#bp-input widthSize="small"}}{{/bp-input}}
			{{/bp-layout}} --}}
		{{/bp-layout}}
	{{/bp-layout}}
{{/bs-collapse}}
{{/if}}

{{#bp-modal
		open=warning.open 
		position="center"
		onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
			{{warning.title}}
		</h4>
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="desc m-0">
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="primary" onClick=(action modal.close)}}{{t "project.business-input.OK"}}{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}