{{#bp-layout direction="row"  main='between'}}
	{{#bp-layout main='between' cross="center" classNames="bg-white mb-0" local-class="resource-list-outer"}}
		{{!-- {{#if (bp-eq curResource.id resource.id)}} --}}
		{{!-- {{#if (bp-eq showContent false)}} --}}
			{{#bp-layout local-class=(if (bp-eq showContent false) "resource-item active" "resource-item") direction="row" main="between" cross="center" classNames="p-4" click=(action "showContent" resource)}}
				{{#bp-layout local-class="item-left" direction="row" main="start" cross="center"}}
					<img src={{get-oss-pic resource.avatar.img picOSS}} alt={{resource.name}}>
					{{#bp-layout direction="col"}}
						{{resource.name}}

							{{#if (bp-eq project.proposal.case "tm")}}
								{{#bp-layout direction="row" cross="end"}}
									<span local-class="span-1" class="mr-1">已用时间</span>
									<span local-class={{if (gt leftTime 100 ) "red" "span-2"}}>{{leftTime}}%</span>
									{{!-- {{#bp-layout local-class="span-2"}}
											
									{{/bp-layout}} --}}
									<span local-class="span-1">/100%</span>

									<span style="width: 24px;height: 24px">{{bp-circle eid=resource.name
														circleData=circleVisitTimeData 
														circleColor=circleVisitTimeColor 
														circleSize=circleVisitTimeSize
														labelEmphasis=labelEmphasis}}</span>
								{{/bp-layout}}
								{{!-- {{#if (bp-not-eq leftTime 0 "0")}}
														<span local-class="remain" class="px-1">{{bp-icon icon="time-left"}}剩余{{leftTime}}%</span>
													{{else}}
														<span local-class="badge" class="px-1">{{bp-icon icon="time-left"}}已分配</span>
													{{/if}} --}}
							{{/if}}

					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout local-class="item-right" direction="row" main="end"}}
					{{#if hospitalNumber}}
						{{#if (bp-eq resource.id curResource.id)}}
						{{#bp-layout direction="row" cross="center" local-class="badge-changed" classNames="px-1"}}
							{{bp-icon icon="hospital-sign"}}
							<span>{{hospitalNumber}}</span>
						{{/bp-layout}}
						{{!-- <span local-class="badge hospital-badge" class="px-1">{{bp-icon icon="hospital-sign"}}{{hospitalNumber}}</span> --}}
						{{else}}
							{{#bp-layout direction="row" cross="center" local-class="badge" classNames="px-1"}}
								{{bp-icon icon="hospital-sign"}}
								<span>{{hospitalNumber}}</span>
							{{/bp-layout}}
						{{/if}}
					{{/if}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{!-- {{else}}
			{{#bp-layout local-class="resource-item" direction="row" main="between" cross="center" classNames="p-4" click=(action "showContent" resource)}}
				{{#bp-layout local-class="item-left" direction="row" main="start" cross="center"}}
					<img src={{get-oss-pic resource.avatar.img picOSS}} alt={{resource.name}}>
					{{resource.name}}
				{{/bp-layout}}
				{{#bp-layout local-class="item-right" direction="row" main="end"}}
				{{#if (bp-eq project.proposal.case "tm")}}
					{{#if (bp-not-eq leftTime 0 "0")}}
						<span local-class="remain" class="px-1">{{bp-icon icon="time-left"}}剩余{{leftTime}}%</span>
					{{else}}
						<span local-class="badge" class="px-1">{{bp-icon icon="time-left"}}已分配</span>
					{{/if}}
				{{/if}}
					{{#if hospitalNumber}}
						<span local-class="badge hospital-badge" class="px-1">{{bp-icon icon="hospital-sign"}}{{hospitalNumber}}</span>
					{{/if}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/if}} --}}
	{{/bp-layout}}
{{/bp-layout}}
{{#if (bp-eq project.proposal.case "tm")}}
{{#bs-collapse collapsed=showContent local-class="wrapper"}}

{{#if (bp-not-eq hospitalList.length 0)}}
	{{#bp-layout direction="col" local-class="representative-info" classNames="pb-2 px-2"}}
		{{!-- {{#bp-layout local-class="remain-time" direction="col" classNames="pb-3"}}
			{{#bp-layout direction="row" main="between"}}
				{{#bp-layout local-class="time"}}剩余时间{{/bp-layout}}
				{{#bp-layout local-class="percent"}}
					<span>{{leftTime}}%</span>
					<span class="mt-1">/100%</span>
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction="row"}} 
				{{#bp-progress as |p|}}
					{{p.bar value=leftTime maxValue=100}}
				{{/bp-progress}}
			{{/bp-layout}}
		{{/bp-layout}} --}}
		{{#bp-layout local-class="resource-hospital" direction="col" classNames="bg-white px-2"}}
			{{#each hospitalList as |hospital|}}
				{{#bp-layout direction="row" cross="center" class="mb-2 mt-2" local-class="hospital-time"}}
					{{#bp-layout local-class="hospital-name"}}{{hospital.target.name}}{{/bp-layout}}
					{{#bp-input widthSize="small" value=hospital.visitTime 
					onChange=(action "inputVisitTime" hospital)}}{{/bp-input}}
				{{/bp-layout}}

			{{/each}}
			
			{{!-- {{#bp-layout direction="row" cross="center" classNames="mt-3"}}
				{{#bp-layout local-class="hospital-name" }}积水潭医院{{/bp-layout}}
				{{#bp-input widthSize="small"}}{{/bp-input}}
			{{/bp-layout}} --}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{/if}}
{{/bs-collapse}}
{{/if}}

{{#bp-modal
		open=warning.open 
		local-class="modal"
		position="center"
		onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header closeButton=false classNames="px-4 pt-4 pb-3"}}
		<h4 local-class="modal-title" class="m-0">
			{{warning.title}}
		</h4>
	{{/modal.header}}
	{{#modal.body classNames="px-4 pt-0"}}
		<p class="desc m-0">
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer classNames="pt-0 pb-4 px-4"}}
		{{#bp-button type="primary" onClick=(action modal.close)}}{{t "project.business-input.OK"}}{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}