
{{#bp-layout direction="row" local-class="submit-header" main="between" cross="center" classNames="px-4 py-3"}}
    {{#bp-layout direction="row" cross="center"}}
        {{!-- {{#if (or noNavButton (bp-eq roundOver "true"))}} --}}
        {{#if noNavButton}}
        {{else}}
            {{#if ucbSpecial}}
                {{#bp-button local-class="exit-btn" onClick=(action "logOut") class="mr-2"}}{{bp-icon icon="sign-out"}}{{/bp-button}}
            {{else}}
                {{#bp-button local-class="exit-btn" onClick=(action "toIndex") class="mr-2"}}{{bp-icon icon="sign-out"}}{{/bp-button}}
            {{/if}}
        {{/if}}
        {{#bp-layout tagName="h4" local-class="title" }}
            {{!-- {{#if (bp-eq projectType 1)}}
                APM
            {{else if (bp-eq projectType 2)}}
                区域项目管理计划模拟测试
            {{else if (bp-eq projectType 3)}}
                优时比区域周期计划测试
            {{else}}
                undefined
            {{/if}} --}}
            {{#if proposalName}}
                {{proposalName}}系统
            {{/if}}
        {{/bp-layout}}
        {{#if periodName}}
            <p local-class="sub-title" class="ml-2 px-1">{{periodName}}</p>
        {{/if}}
    {{/bp-layout}}

    {{yield}}
    {{!-- {{#bp-button local-class="btn-submit" type="primary" onClick=(action "submit")}}提交执行{{/bp-button}} --}}
{{/bp-layout}}