{{!-- 经理剩余时间 start --}}
{{#bp-layout main="between" local-class="management-content" }}
	<div local-class="infos" class="mr-4 ">
		<div local-class="manager-infos" class="mb-2 bg-white">
			{{#bp-layout tagName="h3"  cross="center" local-class="title" classNames="px-4 bg-white"}}
				<span local-class="title">
					经理剩余行动点数
				</span>
			{{/bp-layout}}
			{{!-- <h3 local-class="title" class="px-4">经理剩余行动点数</h3> --}}
			<div local-class="pie" class="p-4">
				{{!-- {{bp-circle widthSize="auto"
					seriesName="经理剩余行动点数"
					circleData=circlePoint}} --}}
				{{!-- {{bp-circle
					eid='managerPoint'
					seriesName="经理剩余行动点数" 
					circleData=circlePoint}} --}}
			</div>
		</div>
		<div local-class="team-infos" class="bg-white">
			{{#bp-layout tagName="h3"  cross="center" local-class="title" classNames="px-4 bg-white"}}
				<span local-class="title">
					团队及代表能力情况
				</span>
			{{/bp-layout}}
			{{!-- <h3 local-class="title" class="px-4">团队及代表能力情况</h3> --}}
			<div local-class="content" class="p-4">
				{{#bp-layout main="between" cross=center local-class="drop-area" }}
					<span class="mr-3">代表</span>
					{{#bp-dropdown widthSize="auto" as |dd|}}
						{{#dd.button }}
							{{#if tmpRepConf.representative.name}}
								<p>{{tmpRepConf.representative.name}}</p>
							{{else}}
								请选择
							{{/if}}
							{{bp-icon icon='down'}}
						{{/dd.button}}
						{{#dd.menu as |menu|}}
							{{#each resources as |rcs|}}
								{{#menu.option value=rcs onClick=(action (mut tmpRepConf))}}
									{{rcs.name}}
								{{/menu.option}}
							{{/each}}
						{{/dd.menu}}
					{{/bp-dropdown}}
				{{/bp-layout}}
				<div local-class="radar-container">
					{{!-- {{bp-radar
						eid='representativeRadar' 
						radarData=radarData
						maxValue=10}} --}}
				</div>
			</div>
		</div>
	</div>
	<div local-class="actions allot-point" class="bg-white">
		<div local-class="allot-point-content" class="bg-white mb-2 px-4">
			{{!-- <h4 local-class="title">行动点数分配</h4> --}}
			{{#bp-layout tagName="h3" main="between" cross="center" 
				local-class="title"}}
				<span local-class="title">
					行动点数分配
				</span>
				{{#bp-button onClick=(action 'reInputPoint')}}重置{{/bp-button}}
			{{/bp-layout}}
			<table class="table text-center" local-class="point-table">
				<thead>
					<th class="border-0">代表姓名</th>
					<th class="border-0">产品知识培训</th>
					<th class="border-0">销售能力培训</th>
					<th class="border-0">区域管理培训</th>
					<th class="border-0">绩效约谈</th>
					<th class="border-0">职业发展指导</th>
					{{!-- <th class="border-0">总点数</th> --}}
				</thead>
				<tbody>
					{{#each quizs as |quiz|}}
						<tr>
							<td>
								{{quiz.resource.name}}
							</td>
							<td>
								{{common/toggle-button context=resConf 
										key='productKnowledgeTraining' 
										state=quiz.answer.productKnowledgeTraining
										changeState=(action 'changeState'  )}}
							</td>
							<td>
								{{common/toggle-button context=resConf 
										key='salesAbilityTraining' 
										state=quiz.answer.salesAbilityTraining
										changeState=(action 'changeState' )}}
							</td>
							<td>
								{{common/toggle-button context=resConf 
										key='regionTraining' 
										state=quiz.answer.regionTraining
										changeState=(action 'changeState' )}}
							</td>
							<td>
								{{common/toggle-button context=resConf 
										key='performanceTraining'
										state=quiz.answer.performanceTraining
										changeState=(action 'changeState' )}}
							</td>
							<td>
								{{common/toggle-button context=resConf 
										key='vocationalDevelopment'
										state=quiz.answer.vocationalDevelopment
										changeState=(action 'changeState' )}}
							</td>
							{{!-- <td>
									{{bp-input widthSize="small"
									disabled=true 
									value=resConf.totalPoint}}
								</td> --}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
{{/bp-layout}}
{{#bp-modal
		open=warning.open
		position='center' 
		onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
			{{warning.title}}
		</h4>
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="desc">
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="primary" onClick=(action modal.close)}}好的{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}