{{!-- {{#if showNavbar}}
	{{#bp-layout tagName="header" main="between" cross="center" local-class="header" classNames="bg-white px-4"}}
	
		<p class="m-0" role="button" {{action "endMission"}}>
			<img src="/images/logo_tmist.png" alt={{t "nav.logo"}} class="mr-3">
			<span>{{t "nav.name"}}</span>
		</p>
		{{#if (bp-eq testProgress 1)}}
			{{#bp-button onClick=(action "endMission")}}
				{{t "nav.actions.end-mission"}}
			{{/bp-button}}
		{{else if (bp-eq testProgress 2)}}
			<span local-class="button-area">
				{{#bp-button type="subtle"  classNames="mr-3"
					onClick=(action (mut rules) true)}}
					{{t "nav.actions.rules-description"}}
				{{/bp-button}}
				{{#bp-button onClick=(action "saveInputEndMission")}}
					{{t "nav.actions.end-mission"}}
				{{/bp-button}}
			</span>
		{{else if (bp-eq testProgress 3)}}
			<span local-class="button-area">
				{{#bp-button type="subtle"  classNames="mr-3"
					onClick=(action (mut rules) true)}}
					{{t "nav.actions.rules-description"}}
				{{/bp-button}}
				{{#bp-button onClick=(action "resultPageEndMission")}}
					{{t "nav.actions.end-mission"}}
				{{/bp-button}}
			</span>
		{{else}}
			{{#bp-dropdown widthSize="auto"
			local-class="dd-medicines dd-area" as |dd|}}
				{{#dd.button tagName="span" classNames="bg-white"}}
					{{bp-icon icon="nav-person"}}
				{{/dd.button}}
				{{#dd.menu align="right" as |menu|}}
					{{#menu.option onClick=(action "logout")}}
						{{t "nav.actions.profile-config"}}
					{{/menu.option}}
					{{#menu.option onClick=(action "logout")}}
						{{t "nav.actions.logout"}}
					{{/menu.option}}
				{{/dd.menu}}
			{{/bp-dropdown}}
		{{/if}}
	{{/bp-layout}}
{{/if}} --}}
<section local-class={{if showNavbar "container" "container-height"}}>
	{{outlet}}
</section>

{{#bp-modal
		open=rules 
		position="center"
		onHidden=(action (mut rules) false) 
		local-class="bp-modal" as |modal|}}
	{{#modal.header classNames="px-4 py-3 border-0"}}
		{{t "nav.actions.rules-description"}}
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="secondary mb-0">
			{{t "nav.modal.line-01"}}
		</p>
		<p class="secondary mb-0">
			{{t "nav.modal.line-02"}}
		</p>
		<p class="secondary mb-4">
			{{t "nav.modal.line-03"}}
		</p>
		<h4 class="title mt-0 mb-3">
			{{t "nav.modal.line-04"}}
		</h4>
		<p class="secondary mb-4">
			{{t "nav.modal.line-05"}}
		</p>
		<p class="secondary mb-4">
			{{t "nav.modal.line-06"}}
		</p>
		<p class="secondary mb-4">
			{{t "nav.modal.line-07"}}
		</p>
		<h4 class="title mt-0 mb-3">
			{{t "nav.modal.line-08"}}
		</h4>
		<p class="secondary">
			{{t "nav.modal.line-09"}}
		</p>
	{{/modal.body}}
{{/bp-modal}}
{{#bp-modal
		open=exitMission 
		position="center"
		onHidden=(action (mut exitMission) false) as |modal|}}
	{{#modal.header classNames="px-4 py-3 border-0"}}
		{{t "nav.hits.title"}}
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="desc mb-3">
			{{t "nav.hits.content"}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="link" onClick=(action modal.close)}}
			{{t "nav.hits.cancel-btn"}}
		{{/bp-button}}
		{{#bp-button type="primary" onClick=(action "saveInputs")}}
			{{t "nav.hits.confirm-btn"}}
		{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}

{{#bp-modal
		local-class="modal"
		open=tokenExpiredService.tokenExpired
		position='center' 
		onHidden=(action (mut tokenExpiredService.tokenExpired) false) as |modal|}}
	{{#modal.header closeButton=false classNames="px-4 pt-4 pb-3"}}
		{{#bp-layout direction="row" main="between" local-class="close-wrapper"}}
			<h4 class="modal-title m-0" local-class="modal-title">
				温馨提示
			</h4>
			{{#bp-layout direction="row" click=(action (mut tokenExpiredService.tokenExpired) false) cross="center"}}
				{{bp-icon icon='cross'}}
			{{/bp-layout}}
		{{/bp-layout}}
	{{/modal.header}}
	{{#modal.body classNames="px-4 pt-0"}}
		<p class="desc m-0">
			因在线时间过长，您本次登录即将过期，系统将在{{tokenExpiredService.remainTime}}后自动退出，请您及时保存填写记录，以免数据丢失。
		</p>
	{{/modal.body}}
	{{#modal.footer classNames="pt-0 pb-4 px-4"}}
		{{#bp-button type="primary" onClick=(action modal.close)}}好的{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}

{{#bp-modal
		local-class="modal"
		open=tokenExpiredService.showRemainTime
		position='center' 
		onHidden=(action "tologin") as |modal|}}
	{{#modal.header closeButton=false classNames="px-4 pt-4 pb-3"}}
		{{#bp-layout direction="row" main="between" local-class="close-wrapper"}}
			<h4 class="modal-title m-0" local-class="modal-title">
				温馨提示
			</h4>
			{{!-- {{#bp-layout direction="row" click=(action (mut tokenExpiredService.tokenExpired) false) cross="center"}}
				{{bp-icon icon='cross'}}
			{{/bp-layout}} --}}
		{{/bp-layout}}
	{{/modal.header}}
	{{#modal.body classNames="px-4 pt-1 mt-2 mb-2"}}
		<p class="desc m-0">
			您的登陆时间过长，登陆状态已过期，请重新登陆。
		</p>
	{{/modal.body}}
	{{#modal.footer classNames="pt-0 pb-4 px-4"}}
		{{#bp-button type="primary" onClick=(action "tologin")}}好的{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}