{{!-- {{common/nav-top-project}} --}}
{{common/nav-top-project proposalName=model.proposal.name ucbSpecial=true noNavButton=noNavButton}}
{{#bp-layout direction="col" main="center" cross="center" local-class="prepare"}}
    {{#bp-layout direction="row" main="center" cross="center" local-class="card-area" classNames="p-4"}}

        {{#bp-layout direction="col" main="between" cross="start" local-class="card" classNames="bg-white"}}
            {{!-- <p local-class="title">你好！欢迎进入优时比区域周期计划测试</p> --}}
            <p local-class="title">你好！欢迎进入 <br>
                {{model.proposal.name}}系统</p>
            {{#bp-layout direction="row" main="start" cross="start" local-class="status-area"}}
                {{#if model.provious}}
                    <span local-class="badge">进行中</span>
                    <p local-class="des" class="ml-2">
                        上次修改时间{{format-date-standard model.provious.lastObject.lastUpdate}}</p>
                {{/if}}

            {{/bp-layout}}
            {{#bp-layout direction="row" main="between" cross="center" local-class="card-bottom"}}
                {{!-- TODO未开发功能，先进行隐藏 --}}
                <p local-class="link" {{action "toHistory" model.proposal.id}}>查看历史成果</p>
                {{!-- 占位符，开发完历史成果跳转功能后，将 span 删除 --}}
                <span></span>
                {{#if model.provious}}
                    {{#bp-layout direction="row" main="start" cross="start" local-class="btn-area"}}
                        {{#bp-button type="default" onClick=(action "startDeployConfirm" )}}
                            重新部署
                        {{/bp-button}}
                        {{#bp-button type="primary" classNames="ml-2" onClick=(action "continueDeploy" model.provious.lastObject)}}
                            继续部署
                        {{/bp-button}}
                    {{/bp-layout}}
                {{else}}
                    {{#bp-layout direction="row" main="start" cross="start" local-class="btn-area"}}
                        {{#bp-button type="primary" onClick=(action "startDeploy" model.proposal)}}
                            开始部署
                        {{/bp-button}}
                    {{/bp-layout}}
                {{/if}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{/bp-layout}}
{{/bp-layout}}
{{#bp-modal
        local-class="modal"
		open=startDeployConfirm.open 
		position="center"
        size="sm"
		onHidden=(action (mut startDeployConfirm.open) false) as |modal|}}
    {{#modal.header closeButton=false classNames="px-4"}}
        {{#bp-layout direction="row" main="between" classNames="header-wrapper"}}
            <h4 class="modal-title" local-class="start-deploy-header">
                {{startDeployConfirm.title}}
            </h4>
            {{#bp-layout direction="row" main="between" classNames="close-wrapper" click=(action (mut startDeployConfirm.open) false)}}
                {{bp-icon icon='cross'}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{/modal.header}}
    {{#modal.body classNames="px-4 pt-0"}}
        <p class="desc m-0">
            {{startDeployConfirm.detail}}
        </p>
    {{/modal.body}}
    {{#modal.footer classNames="pt-0 pb-4 px-4"}}
        {{#bp-button type="subtle" onClick=(action modal.close)}}取消{{/bp-button}}
        {{#bp-button type="primary" onClick=(action "startAgainDeploy" model.proposal)}}重新部署{{/bp-button}}
    {{/modal.footer}}
{{/bp-modal}}